.quantity {
	display: inline-flex;

	button {
		padding: 5px;
		background-color: transparent;
		color: var(--general-text);
		border: 2px solid var(--general-border);
		min-height: 36px;
		width: 36px;

		:--active {
			background-color: transparent;
			color: var(--general-text);
		}

		&:first-child {
			border-right-width: 0;
			border-right-radius: 0;
		}

		&:last-child {
			border-left-width: 0;
			border-left-radius: 0;
		}
	}

	.qty {
		text-align: center;
		border-radius: 0;
		border-width: 2px 0;
		appearance: textfield;
		padding: 0;
		justify-content: center;
		size: 32px auto;
		font-size: var(--general-normal);
		background-color: transparent;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}

		:--active {
			border-color: var(--general-border);
		}
	}
}
