@import "./../../../public/core-blocks/archives";

.wp-block-archives {

	.editor-styles-wrapper .block-editor-writing-flow &-list {

		@extend %none-list-style;

		li:nth-child(n+2) {
			margin-top: 5px;
		}
	}

	.wp-core-ui &-dropdown {

		select {

			@extend %select;
			@extend %select-icon;
			width: 100%;
			max-width: 100%;
		}
	}
}
