/**
 * Document
 */
html {
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
	word-break: break-word;
}

*:focus {
	outline: none;
}

body {
	background-color: var(--general-background);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/**
 * Sections
 */
.site {
	box: vertical;
	min-height: 100vh;

	&-content {
		margin-bottom: auto;
	}
}

.col-full {
	&:not(&--fluid) {
		@mixin colfull;
	}

	&--fluid {
		@mixin colfull 1920px, 30px;
	}
}

/**
 * Accessibility
 */
.screen-reader-text {
	display: hidden;
}

/**
 * Clear
 */
.clear {
	clear: both;
}


/**
 * Elements
 */
hr {
	margin-top: var(--line-height-computed);
	margin-bottom: var(--line-height-computed);
	border: 0;
	border-top: 1px solid var(--general-border);
}

kbd {
	border-radius: 0;
}

ul,
ol {
	padding-left: 18px;
	margin-top: 0;
	margin-bottom: var(--line-height-computed);
	line-height: 1.8;

	ul {
		margin-bottom: 0;
		list-style-type: circle;

		ul {
			list-style-type: square;
		}
	}

	ol {
		margin-bottom: 0;
	}
}

dl {
	margin-top: 0;
	margin-bottom: var(--line-height-computed);
}

dt {
	line-height: var(--line-height-base);
	font-weight: bold;
}

dd {
	line-height: var(--line-height-base);
	margin-left: 0;
	margin-bottom: 15px;
}

abbr[title],
abbr[data-original-title] {
	cursor: help;
}

blockquote {
	position: relative;
	padding: 12px 0 12px 25px;
	margin: 0 0 var(--line-height-computed);
	font-size: calc(var(--general-normal) * 1.125);
	font-weight: 300;
	color: var(--general-quote);
	border-left: 5px solid var(--general-border);

	p {
		margin-bottom: 0;
	}
}

cite {
	box: horizontal middle;
	font-size: var(--general-small);
	color: var(--general-entry-alt);
	margin-top: 10px;
	font-style: normal;

	&::before {
		content: "";
		size: 20px 1px;
		background-color: var(--general-entry-alt);
		margin-right: 9px;
	}
}

address {
	margin-bottom: var(--line-height-computed);
	font-style: italic;
	line-height: var(--line-height-base);
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

figure {
	margin: 0;
	max-width: 100%;
}

code {
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: var(--border-radius-small);
}

table {
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
}

td,
th {
	text-align: left;
	word-break: normal;
	vertical-align: top;
	line-height: var(--line-height-base);
	padding: var(--table-cell-padding);
	border-style: solid;
	border-width: 0 0 1px;
	border-color: var(--general-border);

	thead & {
		border-width: 0 0 2px;
		vertical-align: bottom;
	}
}

/**
 * Media
 */
img {
	height: auto;
	max-width: 100%;
}

svg {
	max-width: 100%;
}

/**
 * Alignment
 */
body:not(.has-sidebar) {
	.entry-content {
		> .alignfull {
			@extend %alignfull;
		}
	}
}
