.wp-block {
	@each $code in code, preformatted, verse {
		&-$(code) {
			display: block;
			padding: 9.5px;
			margin: 0 0 10px;
			font-size: calc(var(--general-normal) * 0.8125);
			line-height: 1.4;
			word-break: break-all;
			word-wrap: break-word;
			color: var(--general-quote);
			background-color: var(--general-tile);
			border: 1px solid var(--general-border);
			border-radius: var(--border-radius-small);
		}
	}
	
	&-code {
		code {
			padding: 0;
			font-size: inherit;
			color: inherit;
			white-space: pre-wrap;
			background-color: transparent;
			border-radius: 0;
		}
	}
}
