@import "./login";
@import "./register";
@import "./tabs";
@import "./reset-password";
@import "./table";
@import "./orders";
@import "./downloads";
@import "./addresses";
@import "./info";

.woocommerce-account {
	.col2-set {
		display: grid;
		grid-template-columns: 1fr 1fr ?if media (--screen-sm-min);
		grid-column-gap: 30px;
		grid-row-gap: 48px;
	}

	h2 {
		font-size: var(--general-large);
		margin-bottom: 20px;
	}
}

.edit-account {
	.button {
		margin-top: 20px;
	}
}
