.woocommerce-account {
	.col2-set {
		display: grid;
		grid-template-columns: 1fr 1fr ?if media (--screen-sm-min);
		grid-column-gap: 30px;
		grid-row-gap: 48px;
	}

	&.logged-in {
		.entry-content {
			> .woocommerce {
				display: flex;
				flex-wrap: wrap;

				.div {
					width: 32% ?if media (--screen-sm-min);
					width: 100% ?if media (--screen-sm);
				}
			}
		}
	}

	h2 {
		font-size: var(--general-large);
		margin-bottom: 20px;
	}
}

.woocommerce-MyAccount {
	&-navigation {
		border-radius: var(--border-radius-small);
		overflow: hidden;
		font-size: var(--general-small);
		text-transform: uppercase;

		a {
			@extend %link-none;
			display: block;
			padding: 14px 20px;
			border-left: 2px solid transparent;

			:--active {
				color: var(--general-primary);
			}
		}

		.is-active {
			a {
				border-left-color: currentColor;
				color: var(--general-primary);
			}
		}

		ul {
			@extend %none-list-style;
		}

		li {
			background-color: var(--general-tile);

			&:nth-child(n+1) {
				margin-top: 2px;
			}
		}
	}

	&-content {
		width: 68% ?if media (--screen-sm-min);
		width: 100% ?if media (--screen-sm);
		padding-left: 30px ?if media (--screen-sm-min);
		padding-top: 48px ?if media (--screen-sm);
		font-size: var(--general-small);
	}
}

.edit-account {
	.button {
		margin-top: 20px;
	}
}