.wp-block-image {
	.components-resizable-box__container {
		max-width: 100% !important;
		vertical-align: middle;
	}
	
	figcaption {
		@extend %caption;
		margin: 0;

		.wp-block& {
			text-align: left;
		}
	}

	&.is-resized {
		display: block;

		[data-align] > & {
			max-width: 100%;
		}

		> figcaption {
			display: block;
		}
	}

	.wp-block > & {
		max-width: 100%;

		/*rtl:begin:ignore*/
		[data-align="left"]& {
			margin-right: 18px;
		}
		[data-align="right"]& {
			margin-left: 18px;
		}
		/*rtl:end:ignore*/
	}
}
