.product {
	.entry-summary {
		padding-top: 48px;
		text-align: center;
		margin-bottom: 15px;
		font-size: var(--general-small);
		color: var(--general-entry-alt);

		.product_title {
			font-size: calc(var(--general-normal) * 1.875);
			margin-bottom: 9px;
		}

		.button {
			margin: 8px;
		}

		.cart {
			box: horizontal wrap center bottom;
			margin-bottom: 24px;
		}

		.quantity {
			margin: 8px;
		}

		.price {
			font-size: calc(var(--general-normal) * 1.875);
			font-weight: 300;
			color: var(--general-entry);
			width: 100%;
			margin-bottom: 20px;
		}

		> .div {
			box: horizontal wrap center;
			margin-bottom: 18px;
		}

		ol,
		ul {
			list-style-position: inside;
			padding-left: 0;
		}
	}

	.edit-link {
    	text-align: center;
    	margin-top: 16px;
	}
}

.woocommerce-product-details__short-description {
	p {
		margin-bottom: 16px;
	}
}

.price {
	del {
		font-size: 87.5%;
		opacity: 0.7;
	}
}
