.product {
	.entry-summary {
		padding: 48px 15px 0;
		text-align: center;
		margin-bottom: 15px;
		font-size: var(--general-small);
		color: var(--general-text-alt);

		.product_title {
			font-size: calc(var(--general-normal) * 1.875);
			margin-bottom: 9px;
		}

		.single_add_to_cart_button {
			min-height: 36px;
			font-size: calc(var(--general-normal) * 0.75);
			padding: 0 17px;
			margin: 8px;
		}

		.cart {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-end;
			margin-bottom: 24px;
		}

		.quantity {
			margin: 8px;
		}

		.price {
			font-size: calc(var(--general-normal) * 1.875);
			font-weight: 300;
			color: var(--general-text);
			width: 100%;
		    margin-bottom: 20px;
		}
	}
}

.woocommerce-product-details__short-description {
	p {
	    margin-bottom: 16px;
	}
}
