.single {

	&.has-sidebar {

		.site-main {

			> * {
				display: grid;
				grid-template-columns: 3fr 1fr ?if media (--screen-laptop-min);

				> * {
					min-width: 0;
				}

				> .div {
					grid-row: 1;
					grid-column: 1/-1;
				}
			}
		}

		&--before {

			.site-main {

				> * {
					grid-template-columns: 1fr 3fr ?if media (--screen-laptop-min);
				}
			}
		}

		.single-view {
			max-width: 100%;
		}
	}
}
