.woocommerce-breadcrumb {

	@mixin colfull;
	font-size: var(--general-small);
	color: var(--general-entry-alt);

	a {
		color: var(--general-entry);
		text-decoration: none;

		:--active {
			color: var(--general-primary-alt);
		}
	}
}
