.entry-share {
	display: flex;
	flex-wrap: wrap;

	&__label {
		color: var(--general-text-alt);
		font-size: var(--general-small);
		margin: 10px 13px 0 0;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -4px 0;
		padding-left: 0;
	}

	li {
		list-style: none;
	}

	a {
		@extend %link-none;
		margin: 0 4px 8px;
		size: 36px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background-color: var(--general-tile);
		border-radius: var(--border-radius-small);
		line-height: 1;
	}
}
