.entry-share {
	ul {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 0;
    	padding-left: 0;
	}

	li {
		list-style: none;
	}

	a {
		@extend %link-none;
	    margin-left: 8px;
	    width: 36px;
    	height: 36px;
    	display: inline-flex;
	    align-items: center;
    	justify-content: center;
    	background-color: var(--general-tile);
    	border-radius: var(--border-radius-small);
	}
}