.entry-share {
	ul {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -8px 0 0;
		padding-left: 0;
	}

	li {
		list-style: none;
	}

	a {
		@extend %link-none;
		margin: 8px 8px 0 0;
		width: 36px;
		height: 36px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background-color: var(--general-tile);
		border-radius: var(--border-radius-small);
	}
}
