@import "./collaterals";
@import "./form";
@import "./shipping";

.woocommerce-cart {
	.entry-content {
		> .woocommerce {
			box: space-between;
			flex-wrap: wrap ?if media (--screen-sm-min);
			flex-direction: column ?if media (--screen-sm);
		}
	}
}
