@import "./collaterals/style.css";
@import "./form/style.css";
@import "./shipping/style.css";

.woocommerce-cart {
	.entry-content {
		> .woocommerce {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap ?if media (--screen-sm-min);
			flex-direction: column ?if media (--screen-sm);
		}
	}
}
