@import "./../../../woocommerce/blocks/price-filter";

.wc-block-price-filter {

	&__controls {

		^&__button {
			border-radius: var(--border-radius-base);
		}

		^&__amount {
			border: 2px solid var(--general-border);
			line-height: var(--line-height-base);
			box-shadow: none;
		}
	}
}

.editor-styles-wrapper .block-editor-writing-flow {

	[data-type="woocommerce/price-filter"] {

		> div {

			> *:nth-last-child(2) {

				@extend %small-title;
			}
		}

	}
}
