.wp-block-pullquote {
	padding: 24px 0;
	margin-bottom: var(--line-height-computed);

	blockquote {
		padding: 0;
		border-width: 0;
		font-weight: 400;

		& p {
			font-size: var(--general-medium);
			margin-bottom: 0;
			line-height: var(--line-height-base);

			.is-style-solid-color& {
				font-size: var(--general-medium);
			}
		}
	}

	cite {
		&::before {
			display: none;
		}
	}

	&:not(.is-style-solid-color) {
		border-color: var(--general-border);
		border-width: 4px 0;
		border-style: solid;

		blockquote {
			text-align: center;
			margin: 0;
		}

		cite {
			justify-content: center;
			text-transform: uppercase;
		}
	}

	&.is-style-solid-color {
		blockquote {
			margin: 0 auto;
		}
	}
}
