.wp-block-pullquote {
	padding: 24px 0;
    margin-bottom: var(--line-height-computed);

	blockquote {
    	padding: 0;
    	border-width: 0;
    	font-size: var(--general-medium);
    	font-weight: 400;
	}

	cite {
	    color: inherit;

	    &:before {
	    	display: none;
	    }
	}

	&:not(.is-style-solid-color) {
		border-color: var(--general-border);
    	border-width: 4px 0;
    	border-style: solid;

		blockquote {
			text-align: center;
			margin: 0;
		}

		cite {
			justify-content: center;
			text-transform: uppercase;
		}
	}

	&.is-style-solid-color {
		blockquote {
			max-width: 60%;
			margin: 0 auto;
		}
	}
}