@import "./../../../woocommerce/blocks/review";

.editor-styles-wrapper {
	.block-editor-writing-flow {
		.wc-block-review-list {
			padding-left: 0;
		}
	}
}

.wc-block-sort-select {
	&__label {
		font-size: calc(var(--general-normal) *0.75);
		color: var(--general-entry);
		margin-bottom: 7px;
		padding-left: 18px;
		text-transform: uppercase;
		line-height: var(--line-height-base);
	}

	.wp-core-ui &__select:disabled {
		@extend %select;
		@extend %select-icon;
	}
}
