.block-editor-block-list__layout {

	.wp-block-freeform {

		&.block-library-rich-text__tinymce {

			a {
				color: var(--general-primary);
			}

			p {
				line-height: var(--line-height-base);
			}

			blockquote {
				position: relative;
				padding: 12px 0 12px 25px;
				margin: 0 0 var(--line-height-computed);
				font-size: calc(var(--general-normal) * 1.125);
				font-weight: 300;
				color: var(--general-quote);
				border-style: solid;
				border-width: 0 0 0 5px;
				border-color: var(--general-border);

				p {
					margin-bottom: 0;
				}
			}

			cite {
				box: horizontal middle;
				font-size: var(--general-small);
				color: var(--general-entry-alt);
				margin-top: 10px;
				font-style: normal;

				&::before {
					content: "";
					size: 20px 1px;
					border-bottom: 1px solid;
					margin-right: 9px;
				}
			}
		}

		hr {
			margin-top: var(--line-height-computed);
			margin-bottom: var(--line-height-computed);
			border: 0;
			border-top: 1px solid var(--general-border);
		}

		pre {
			font-size: 1em;
			overflow: auto;
			color: var(--general-entry);
		}

		img,
		.wp-caption {
			/*rtl:begin:ignore*/
			&.alignright {
				margin-left: 18px;
			}

			&.alignleft {
				margin-right: 18px;
			}
			/*rtl:end:ignore*/
		}
	}

	.mce-item-table {
		border-collapse: collapse;
		width: 100%;
		max-width: 100%;
		border-width: 0;

		td,
		th {
			text-align: left;
			word-break: normal;
			vertical-align: top;
			line-height: var(--line-height-base);
			padding: var(--table-cell-padding);
			border-style: solid;
			border-width: 0 0 1px;
			border-color: var(--general-border);
		}

		thead {
			border-width: 0;

			td,
			th {
				border-width: 0 0 2px;
				vertical-align: bottom;
			}
		}

		tfoot {
			border-width: 0;
		}
	}

	dl {
		margin-top: 0;
		margin-bottom: var(--line-height-computed);
	}

	dt {
		line-height: var(--line-height-base);
		font-weight: 600;
	}

	dd {
		line-height: var(--line-height-base);
		margin-left: 0;
		margin-bottom: 15px;
	}

	address {
		margin-bottom: var(--line-height-computed);
		font-style: italic;
		line-height: var(--line-height-base);
	}

	.wp-caption-dd {

		@mixin caption;
	}
}
