.woocommerce-form {

	&-track-order {

		p:first-child {
			font-size: var(--general-small);
			color: var(--general-entry-alt);
		}

		.clear + .form-row {

			@mixin coupon-grid;

			.button {
				grid-area: 1/2 ?if media (--screen-laptop-min);
			}
		}
	}
}
