.cross-sells {
    margin-top: 32px;
    border-top: 1px solid var(--general-border);
    padding-top: 48px;

	h2 {
		font-size: var(--general-large);
	    text-transform: capitalize;
    	margin-bottom: 44px;
	}
}