.hypermarket-sticky-add-to-cart {
	background-color: var(--general-background);
	position: fixed 0 0 null 0;
	visibility: hidden;
	opacity: 0;
	animation: slideUp 0.4s;
	z-index: 30;

	.admin-bar & {
		top: 32px;
	}

	&.show {
		animation: slideDown 0.4s;
		visibility: visible;
		opacity: 1;
	}

	&__content {
		box: horizontal;
		padding: 14px 0;

		img {
			width: 80px;
		}
	}
}
