.wc-block-dropdown-selector {
	&__input {
		min-height: 30px;
	    margin: 0;
	    padding: 0;
	    font-size: var(--hypermarket-general-small);

		&-wrapper {
			@extend %select;
			@extend %select-icon;
			@mixin shift border;

			.is-multiple.has-checked & {
				padding-left: 16px;
			    padding-right: 30px;
			}
		}

		.is-multiple & {
		    flex-basis: 100px;
		}
	}

	&__list {
		ul&:not(:empty) {
			border: 2px solid var(--general-border);
		    z-index: 8;
		}

		&-item {
			padding: 6px;

			&.is-selected {
				background-color: var(--general-tile);
			}

			&.is-highlighted,
			&:hover {
				color: var(--general-background);
				background-color: var(--general-primary);
			}
		}
	}

	& &__selected-value {
	    width: auto;
	    color: var(--general-entry);
		background-color: var(--general-tile);
		border-radius: var(--border-radius-base);
	    margin-right: 5px;
    	padding: 5px 5px 5px 10px;

	    button {
	    	min-height: auto;
	    }

	    &__remove {
		    min-height: auto;
		    @mixin link var(--alert-danger);
		}
	}
}