nav {
	ul {
		margin: 0;
	}

	li::before {
		display: hidden;
	}
}

.main-navigation {
	flex: 1;
	text-transform: uppercase;
	font-size: var(--general-small);
	padding: 10px 0;
	display: none ?if media (--screen-lg);

	&:last-child {
		padding-right: 140px;
	}

	a {
		color: var(--general-entry);
		padding: 15px;
		display: block;

		:--active {
			color: var(--general-entry-alt);
			opacity: 0.95;
		}
	}

	[class*="current_"],
	.current-menu-item {
		a {
			color: var(--general-entry-alt);
			opacity: 0.95;
		}
	}

	[class*="_has_children"],
	.menu-item-has-children {
		> a::after {
			display: inline-block;
			vertical-align: middle;
			@mixin icon "\f140";
			font-size: 15px;
			margin-left: 1px;
			margin-top: -2px;
		}
	}

	ul {
		@extend %none-list-style;
	}

	> div {
		> ul {
			box: horizontal wrap center;
		}
	}

	@each $item in children, sub-menu {
		.$(item) {
			display: none;
			position: absolute calc(100% + 9px) null null 0;
			width: 240px;
			margin-top: -14px;
			padding: 20px;
			text-align: left;
			background-color: var(--general-background);
			border: 1px solid var(--general-border);
			z-index: 1;

			.$(item) {
				top: 0;
				left: 100%;
				margin-top: -6px;
			}

			.is-off-screen {
				.$(item) {
					left: auto;
					right: 100%;
				}
			}

			li {
				&:nth-child(n+2) {
					margin-top: 8px;
				}
			}

			a {
				padding: 0;
				font-size: calc(var(--general-small) * 6/7);
			}

			[class*="_has_children"],
			.menu-item-has-children {
				> a::after {
					content: "\f139";
					margin-left: 8px;
					margin-top: -1px;
				}
			}
		}

		li {
			position: relative;

			&:hover {
				> .$(item) {
					display: block;
					animation: slideUp 0.4s;
				}
			}

			.$(item) {
				> li:hover {
					.$(item) {
						animation: slideRight 0.4s;
					}
				}
			}
		}
	}
}
