.comment {

	&s-area {
		padding-top: 48px;
	}

	&-form {
		display: grid;
		grid-template-columns: repeat(3, 1fr) ?if media (--screen-tablet-min);
		grid-template-columns: 1fr ?if media (--screen-tablet);
		grid-row-gap: 24px;
		grid-column-gap: 30px;

		> * {
			margin-bottom: 0;
			min-width: 0;
		}

		&-cookies-consent {
			order: 10;
			grid-column: 1/3 ?if media (--screen-tablet-min);
			box-item: center;
		}

		&-comment {
			grid-column: 1/-1;
		}
	}

	&-notes {
		grid-column: 1/-1;
	}

	&-reply-title {
		font-size: calc(var(--general-normal) * 1.375);
		font-weight: 400;
		padding-top: 24px;
		display: block;
		margin-bottom: 17px;
	}

	&-notes {
		font-size: var(--general-small);
		color: var(--general-entry-alt);
		padding-bottom: 16px;
	}

	&-list {
		padding-left: 0;

		@each $item in .pingback, .trackback, .comment {
			li$(item) {
				list-style: none;
				margin: 0 0 30px 66px;
				margin-left: 0 ?if media (--screen-smartphone);
				position: relative;
				font-size: var(--general-small);
				line-height: 1.5;

				@media (--screen-tablet-min) {
					padding: 24px;
					background-color: var(--general-tile);
					border-radius: var(--border-radius-small);
				}
			}
		}

		.edit-link {
			font-size: calc(var(--general-normal) * 0.75);
		}

		> ^& > .children > li {

			@media (--screen-tablet-min) {
				background-color: var(--general-border);

				> .children > li > .children > li {
					background-color: var(--general-border);
				}
			}
		}
	}

	li& {

		^&-reply-title {
			margin-bottom: 10px;
			font-size: calc(var(--general-normal) * 1.25);

			small {
				margin-left: 5px;
			}
		}

		.children {
			padding-left: 0;
			margin-left: -66px ?if media (--screen-tablet) and (--screen-smartphone-min);

			^^& {
				margin-top: 30px;
				margin-bottom: 0;
			}
		}
	}

	&-body {

		@media (--screen-tablet) {
			padding: 24px;
			background-color: var(--general-tile);
			border-radius: var(--border-radius-small);
		}
	}

	&-meta {
		box: wrap space-between;
		margin-bottom: 5px;

		a {

			@mixin link;
		}

		.says {
			display: hidden;
		}
	}

	&-author {

		.fn {
			font-weight: 500;
			margin-right: 10px;
		}

		.avatar {
			position: absolute 0 null null -66px;
			width: 50px;
			border-radius: var(--border-radius-base);
			display: none ?if media (--screen-smartphone);
		}
	}

	&-metadata {
		color: var(--general-entry-alt);
		font-size: calc(var(--general-normal) * 0.75);
	}

	.reply {
		text-align: right;
	}

	&-reply-link {
		color: var(--general-entry);
		font-size: calc(var(--general-normal) * 0.75);
		letter-spacing: 0.07em;
		text-transform: uppercase;
		text-decoration: none;
		display: inline-flex;

		&::before {

			@mixin icon "\f171";
			padding-right: 3px;
		}

		:--active {
			color: var(--general-primary);
		}
	}

	&-content {
		overflow-x: auto;

		p {
			margin-bottom: 10px;
		}
	}
}

.form-submit {
	grid-column: 3 ?if media (--screen-tablet-min);
	order: 10;
	text-align: right;

	.submit {
		margin: 0;
		width: auto ?if media (--screen-tablet-min);
		min-width: 75%;
	}
}
