.comment {
	&s-area {
		padding-top: 72px;
	}

	&-form {
		@each $field in url,author,email {
			&-$(field) {
				width: calc(33.333% - 20px);
				float: left;
			}
		}

		&-email {
			margin-right: 30px;
			margin-left: 30px;
		}
	}

	&-list {
		padding-left: 0;
	}

	li& {
		list-style: none;
		margin: 0 0 30px 66px;
		margin-left: 0 ?if media (--screen-xs);
		padding: 24px;
		background-color: var(--general-tile);
		position: relative;
		font-size: var(--general-small);
		line-height: 1.5;
		border-radius: var(--border-radius-small);

		^&-reply-title {
			margin-bottom: 10px;
			font-size: calc(var(--general-normal) * 1.25);

			small {
				margin-left: 5px;
			}
		}

		.children {
			padding-left: 0;

			.comment {
				background-color: var(--general-border);
				margin-top: 30px;
				margin-bottom: 0;
			}
		}
	}

	&-meta {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 5px;

		a {
			@extend %link-none;
		}

		.says {
			display: hidden;
		}
	}

	&-author {
		.fn {
			font-weight: 500;
			margin-right: 10px;
		}

		.avatar {
			position: absolute;
			width: 50px;
			top: 0;
			left: -66px;
			border-radius: var(--border-radius-base);
			display: none ?if media (--screen-xs);
		}
	}

	&-metadata {
		color: var(--general-text-alt);
		font-size: calc(var(--general-normal) * 0.75);
	}

	.reply {
		text-align: right;
	}

	&-reply-link {
		color: var(--general-text);
		font-size: calc(var(--general-normal) * 0.75);
		letter-spacing: 0.07em;
		text-transform: uppercase;
		text-decoration: none;
		display: inline-flex;

		&::before {
			content: "\ee50";
			font-family: boxicons;
			padding-right: 3px;
		}

		:--active {
			color: var(--general-primary);
		}
	}

	&-content {
		p {
			margin-bottom: 10px;
		}
	}
}

.form-submit {
	display: flex;

	.submit {
		width: auto;
		margin: 0;
	}
}
