.comment {
	&s-area {
		padding-top: 48px;
	}


	&-form {
		display: grid;
		grid-template-columns: repeat(3, 1fr) ?if media (--screen-sm-min);
		grid-template-columns: 1fr ?if media (--screen-sm);
		grid-row-gap: 24px;
		grid-column-gap: 30px;

		> * {
			margin-bottom: 0;
		}

		&-cookies-consent {
			order: 10;
			grid-column: 1/3 ?if media (--screen-sm-min);
			box-item: center;
		}

		&-comment {
			grid-column: 1/-1;
		}
	}

	&-notes {
		grid-column: 1/-1;
	}

	&-reply-title {
		font-size: calc(var(--general-normal) * 1.375);
		font-weight: 400;
		padding-top: 24px;
		display: block;
		margin-bottom: 17px;
	}

	&-notes {
		font-size: var(--general-small);
		color: var(--general-text-alt);
		padding-bottom: 16px;
	}

	&-list {
		padding-left: 0;
	}

	li& {
		list-style: none;
		margin: 0 0 30px 66px;
		margin-left: 0 ?if media (--screen-xs);
		padding: 24px;
		background-color: var(--general-tile);
		position: relative;
		font-size: var(--general-small);
		line-height: 1.5;
		border-radius: var(--border-radius-small);

		^&-reply-title {
			margin-bottom: 10px;
			font-size: calc(var(--general-normal) * 1.25);

			small {
				margin-left: 5px;
			}
		}

		.children {
			padding-left: 0;

			.comment {
				background-color: var(--general-border);
				margin-top: 30px;
				margin-bottom: 0;
			}
		}
	}

	&-meta {
		box: wrap space-between;
		margin-bottom: 5px;

		a {
			@mixin link;
		}

		.says {
			display: hidden;
		}
	}

	&-author {
		.fn {
			font-weight: 500;
			margin-right: 10px;
		}

		.avatar {
			position: absolute 0 null null -66px;
			width: 50px;
			border-radius: var(--border-radius-base);
			display: none ?if media (--screen-xs);
		}
	}

	&-metadata {
		color: var(--general-text-alt);
		font-size: calc(var(--general-normal) * 0.75);
	}

	.reply {
		text-align: right;
	}

	&-reply-link {
		color: var(--general-text);
		font-size: calc(var(--general-normal) * 0.75);
		letter-spacing: 0.07em;
		text-transform: uppercase;
		text-decoration: none;
		display: inline-flex;

		&::before {
			@mixin icon "\ee50";
			padding-right: 3px;
		}

		:--active {
			color: var(--general-primary);
		}
	}

	&-content {
		p {
			margin-bottom: 10px;
		}
	}
}

.form-submit {
	grid-column: 3 ?if media (--screen-sm-min);
	order: 10;
	text-align: right;

	.submit {
		margin: 0;
		width: auto ?if media (--screen-sm-min);
		min-width: 75%;
	}
}
