.product {
	&s {
		@extend %none-list-style;
		display: grid;
		grid-gap: 30px;

		&.columns-2 {
			grid-template-columns: repeat(2, 1fr);
		}
		&.columns-3 {
			grid-template-columns: repeat(3, 1fr);
		}
		&.columns-4 {
			grid-template-columns: repeat(4, 1fr);
		}
		&.columns-5 {
			grid-template-columns: repeat(5, 1fr);
		}
		&.columns-6 {
			grid-template-columns: repeat(6, 1fr);
		}
	}
}