.wp-block-separator {
	border-width: 1px;
	color: var(--general-border);
	border-color: currentColor;
	margin-top: var(--line-height-computed);
	margin-bottom: var(--line-height-computed);
}

.block-editor-block-list__block {
	&[data-type="core/separator"] {
		padding-top: 0;
		padding-bottom: 0;
	}
}
