.wp-block-categories {
	font-size: var(--general-small);
	@extend %widget-list;

	a {
		@mixin link var(--general-entry), var(--general-entry-alt);
	}

	.editor-styles-wrapper .block-editor-writing-flow &__list {
		@extend %none-list-style;

		li:nth-child(n+2) {
			margin-top: 5px;
		}
	}

	.wp-core-ui &__dropdown {
		@extend %select;
		@extend %select-icon;
		width: 100%;
		max-width: 100%;
	}
}
