.wp-block-categories {
	font-size: var(--general-small);

	&__list {

		@mixin widget-list;
	}

	li {
		color: var(--general-entry-alt);

		@mixin shift color;

		&:hover {
			color: var(--general-entry);
		}
	}

	a {

		@mixin link;
	}

	.editor-styles-wrapper .block-editor-writing-flow &__list {

		@mixin none-list-style;

		li:nth-child(n+2) {
			margin-top: 5px;
		}
	}

	.wp-core-ui &__dropdown {

		@mixin select;
		@mixin select-icon;
		width: 100%;
		max-width: 100%;
	}
}
