.cart {
	&-collaterals {
		width: 34% ?if media (--screen-sm-min);
		width: 100% ?if media (--screen-sm);
		box: vertical;
		padding-left: 10.8% ?if media (--screen-md-min);
		padding-left: 30px ?if media (--screen-md) and (--screen-sm-min);

		> * {
			margin-bottom: 48px;
		}

		.cross-sells {
			> h2 {
				display: hidden;
			}
		}

		^&-subtotal {
			display: hidden;
		}
	}

	&_totals {
		order: -1;
		color: var(--general-text-alt);
		font-size: var(--general-small);

		h2 {
			margin-bottom: 20px;
			font-size: calc(var(--general-normal) * 1.625);
		}

		tbody {
			display: grid;
			grid-gap: 17px;
		}

		th {
			font-weight: 500;
		}

		th,
		td {
			border-bottom: 0;
			padding: 0;
		}

		tr {
			box: vertical;
		}

		.order-total {
			order: -1;
			color: var(--general-text);
		}

		@each $tr in cart-subtotal, shipping, order-total {
			.$(tr) th {
				display: hidden;
			}
		}
	}

	&-discount {
		color: var(--general-text-alt);
	}
}

.wc-proceed-to-checkout {
	margin-top: 22px;

	.button {
		width: 100%;
	    margin: 5px 0;

		&:not([disabled]):nth-last-child(2) {
			@mixin button-color;
		}
	}
}

.order-total {
	.woocommerce-Price-amount {
		font-size: calc(var(--general-normal) * 1.375);
	}

	strong {
		font-weight: 400;
	}
}
