:root {
	--general-font: "Work Sans";
	--line-height-base: 1.5;
	--headings-line-height: 1.3;
	--line-height-computed: 24px;
	--border-radius-base: 5px;
	--border-radius-small: 4px;
	--btn-height: 48px;
	--navbar-min-height: 80px;
	--image-logo-width: 115px;
	--table-cell-padding: 15px;
}
