.page {

	&.has-sidebar {

		.site-main {

			> article {
				display: grid;
				grid-template-columns: 75% 25% ?if media (--screen-laptop-min);

				> * {
					min-width: 0;
				}

				> .div {
					grid-row: 1;
					grid-column: 1/-1;
				}
			}
		}

		&--before {

			.site-main {

				> article {
					grid-template-columns: 25% 75% ?if media (--screen-laptop-min);
				}
			}
		}
	}
}
