@import "./../../../woocommerce/blocks/categories";

.editor-styles-wrapper {
	.block-editor-writing-flow {
		.wc-block-product-categories {
			&-list {
				padding-left: 0;
				margin: 0;
			}

			select {
				@extend %select;
				@extend %select-icon;
				margin-right: 0;
			}

			&__button {
				min-height: var(--btn-height);
				border-radius: var(--border-radius-base);
				display: inline-flex;
				align-items: center;
				justify-content: center;
				background-color: var(--general-primary);
				color: var(--general-background);
				@extend %button-shift;
			}
		}
	}
}
