%button-shift {
	transition: color 0.3s ease-out, background-color 0.3s ease-out;
}

%caption {
	color: inherit;
	font-size: calc(var(--general-normal) * 0.8125);
	text-align: center;
	padding: var(--table-cell-padding) 0;
	margin: 0;
}

%coupon-grid {
	display: grid;
	grid-template-columns: 2.5fr 1fr ?if media (--screen-md-min);
	grid-template-columns: 1fr ?if media (--screen-md);
	grid-column-gap: 30px;
	grid-row-gap: 17px;

	> * {
		min-width: 0;
	}
}

%none-list-style {
	padding-left: 0;
	margin-bottom: 0;

	li {
		list-style: none;
	}
}

%alignfull {
	width: 100vw;
	position: relative null null null 50%;
	margin-left: -50vw;
}

%alignwide {
	width: 90vw;
	position: relative null null null 50%;
	margin-left: -45vw;
}

%meta-divider {

	&:nth-last-child(n+2)::after {
		content: "";
		display: inline-block;
		size: 1px 11px;
		margin: 0 10px;
		background-color: var(--general-entry-alt);
		opacity: 0.5;
	}
}

%meta-item {
	display: flex;

	&::before {
		margin-right: 3px;
	}
}

%clear {

	&::before,
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

%select {
	display: flex;
	min-height: 48px;
	padding-left: 16px;
	font-size: var(--general-small);
	color: var(--general-entry);
	text-transform: none;
	border: 2px solid var(--general-border);
	border-radius: var(--border-radius-base);
	background-color: var(--general-background);
	appearance: none;
	font-family: inherit;
	line-height: inherit;

	&:focus {
		border-color: var(--general-primary);
		outline: none;
	}
}

%select-icon {
	background-repeat: no-repeat;
	background-position: calc(100% - 15.5px) 50%, calc(100% - 11.5px) 50%, 100% 0;
	background-size: 4.5px 4.5px, 4.5px 4.5px, 3em 3em;
	background-image: linear-gradient(45deg, transparent 50%, var(--general-entry) 50%), linear-gradient(135deg, var(--general-entry) 50%, transparent 50%), linear-gradient(to right, transparent, transparent);
	padding-right: 30px;
}

%small-input {
	min-height: 36px;
	font-size: calc(var(--general-normal) * 0.75);
	padding: 8px 17px;
}

%is-admin-bar {
	top: 32px ?if media (min-width: 783px);
	top: 46px ?if media (max-width: 782px) and (min-width: 601px);
}


%widget-list {
	padding-left: 0;
	margin-bottom: 0;

	li {
		position: relative;
		list-style: none;

		&:nth-child(n+2) {
			margin-top: 5px;
		}
	}

	ul {
		border-left: 1px solid var(--general-border);
		padding-left: 0;

		li {
			padding-left: 14px;

			&::before {
				content: "";
				position: absolute 14px null null 0;
				size: 8px 1px;
				background-color: var(--general-border);
			}
		}
	}

	.count {
		padding: 0 3px;
	}
}

%flashes {
	background-color: var(--general-background);
	font-size: calc(var(--general-normal) * 0.75);
	padding: 3px 14px;
	display: inline-block;
	border-radius: 24px;
	position: absolute 20px auto null 20px;
	z-index: 3;
}

%filter-range-thumb {
	border: 2px solid var(--general-background);
	border-radius: 16px;
	background: var(--general-entry);
	size: 16px;
	cursor: pointer;
}

%small-title {
	font-size: var(--general-small);
	line-height: var(--headings-line-height);
	margin-bottom: var(--line-height-computed);
	font-weight: 400;
}
