%button-shift {
	transition: color 0.3s ease-out, background-color 0.3s ease-out;
}

%caption {
	color: #555d66;
	font-size: 13px;
	text-align: center;
	padding-top: var(--table-cell-padding);
}

%coupon-grid {
	display: grid;
	grid-template-columns: 2.5fr 1fr ?if media (--screen-md-min);
	grid-template-columns: 1fr ?if media (--screen-md);
	grid-column-gap: 30px;
	grid-row-gap: 17px;
}

%none-list-style {
	padding-left: 0;
	margin-bottom: 0;

	li {
		list-style: none;
	}
}

%alignfull {
	width: 100vw;
	position: relative;
	left: 50%;
	margin-left: -50vw;
}

%colfull {
	max-width: 1170px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
}

%colmd {
	max-width: 660px;
	width: 100%;
    margin-left: auto;
	margin-right: auto;
}

%meta-divider {
	&::after {
		content: "";
		display: inline-block;
		width: 1px;
		height: 11px;
		margin: 0 10px;
		background-color: var(--general-text-alt);
		opacity: 0.5;
	}
}

%meta-item {
	display: flex;

	&::before {
		margin-right: 3px;
	}
}

%clear {
	&::before,
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

%link-none {
	color: inherit;
	text-decoration: none;
}

%select-icon {
	background-repeat: no-repeat;
	background-position: calc(100% - 15.5px) 50%, calc(100% - 11px) 50%, 100% 0;
	background-size: 4.5px 4.5px, 4.5px 4.5px, 3em 3em;
	background-image: linear-gradient(45deg, transparent 50%, var(--general-text) 50%), linear-gradient(135deg, var(--general-text) 50%, transparent 50%), linear-gradient(to right, transparent, transparent);
	padding-right: 30px;
}

%disabled-button {
	color: var(--general-text);
	background-color: var(--general-border);
	border: 2px solid var(--general-border);

	:--active {
		color: var(--general-text);
		background-color: var(--general-tile);
	}
}
