%button-shift {
	transition: color 0.3s ease-out, background-color 0.3s ease-out;
}

%caption {
	color: #555d66;
	font-size: 13px;
	text-align: center;
	padding-top: var(--table-cell-padding);
}

%coupon-grid {
	display: grid;
	grid-template-columns: 2.5fr 1fr ?if media (--screen-md-min);
	grid-template-columns: 1fr ?if media (--screen-md);
	grid-column-gap: 30px;
	grid-row-gap: 17px;

	> * {
		min-width: 0;
	}
}

%none-list-style {
	padding-left: 0;
	margin-bottom: 0;

	li {
		list-style: none;
	}
}

%alignfull {
	width: 100vw;
	position: relative null null null 50%;
	margin-left: -50vw;
}

%meta-divider {
	&::after {
		content: "";
		display: inline-block;
		size: 1px 11px;
		margin: 0 10px;
		background-color: var(--general-text-alt);
		opacity: 0.5;
	}
}

%meta-item {
	display: flex;

	&::before {
		margin-right: 3px;
	}
}

%clear {
	&::before,
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

%select-icon {
	background-repeat: no-repeat;
	background-position: calc(100% - 15.5px) 50%, calc(100% - 11px) 50%, 100% 0;
	background-size: 4.5px 4.5px, 4.5px 4.5px, 3em 3em;
	background-image: linear-gradient(45deg, transparent 50%, var(--general-text) 50%), linear-gradient(135deg, var(--general-text) 50%, transparent 50%), linear-gradient(to right, transparent, transparent);
	padding-right: 30px;
}

%small-button {
	.button {
		min-height: 36px;
		font-size: calc(var(--general-normal) * 0.75);
		padding: 8px 17px;
	}
}
