.widget_shopping_cart {
	font-size: var(--general-small);
}

.woocommerce-mini-cart {
	margin-bottom: 15px;
	padding-left: 0;

	&__empty-message {
		margin-bottom: 0;
		font-style: italic;
	}

	&-item {
		position: relative;
		padding: 0 0 15px 80px;
		border-bottom: 1px solid var(--general-border);
		min-height: 80px;
		box: vertical;

		&:nth-child(n+2) {
			margin-top: 15px;
		}

		a {
			color: var(--general-entry);

			&:not(.remove) {
				margin-right: 16px;

				:--active {
					color: var(--general-entry-alt);
					opacity: 0.95;
				}
			}
		}

		.remove {
			font-size: 0;

			&::before {
				@mixin icon "\f335";
				font-size: 18px;
				line-height: 1;
				position: absolute 0 -3px null null;
				right: -3px;
				top: 0;
			}

			:--active {
				color: var(--alert-danger);
			}
		}

		.quantity {
			color: var(--general-entry-alt);
		}
	}

	img {
		max-width: 65px;
	}

	&__total {
		box: horizontal space-between;

		strong {
			color: var(--general-entry-alt);
			font-weight: 400;
		}

		.woocommerce-Price-amount {
			font-weight: 500;
		}
	}

	&__buttons {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 13px;
		margin-bottom: 0;

		> * {
			min-width: 0;
		}

		.button {
			min-height: 36px;
			font-size: calc(var(--general-small) * 6/7);
			padding: 0 15px;

			&:not(.checkout) {
				@mixin button-color;
			}
		}
	}
}
