.widget_shopping_cart {
	font-size: var(--general-small);
}

.woocommerce-mini-cart {
	&__empty-message {
		margin-bottom: 0;
    	font-style: italic;
	}

	&-item {
    	position: relative;
	    padding: 0 0 15px 80px;
    	border-bottom: 1px solid var(--general-border);
    	margin-bottom: 15px;
	    min-height: 80px;
        display: flex;
    	flex-direction: column;

    	a {
    		@extend %color-shift;
			color: var(--general-text);

			&:not(.remove) {
				padding-right: 16px;

				&:hover {
					color: var(--general-text-alt);
					opacity: .95;
				}
			}
    	}

    	.remove {
			font-size: 0;

			&:before {
			    content: "\e5cd";
		        font-family: 'Material Icons';
		        font-size: var(--general-normal);
		        line-height: 1;
				position: absolute;
			    right: 0;
			    top: 0;
			}

			&:hover {
		    	color: var(--alert-danger);
		    }
		}

		.quantity {
			color: var(--general-text-alt);
		}
	}

	.attachment-woocommerce_thumbnail {
		position: absolute;
	    max-width: 65px;
	    left: 0;
	    top: 0;
	}

	&__total {
	    display: flex;
    	justify-content: space-between;

		strong {
			color: var(--general-text-alt);
		    font-weight: 400;
		}

		.woocommerce-Price-amount {
			font-weight: 500;
		}
	}

	&__buttons {
	    display: grid;
	    grid-template-columns: 1fr 1fr;
	    grid-gap: 13px;
	    margin-bottom: 0;

	    .button {
	    	margin: 0;
	    	min-height: 36px;
    		font-size: calc(var(--general-small) * 6/7);
    		padding: 0 15px;

    		&:not(.checkout) {
    			background-color: transparent;
    			color: var(--general-text);
    			border: 2px solid var(--general-border);

    			&:hover {
    				background-color: var(--general-border);
    			}
    		}
	    }
	}
}