@import "./title";
@import "./list";
@import "./tagcloud";
@import "./recent-posts";
@import "./table";
@import "./calendar";
@import "./rss";

.widget {
	font-size: var(--general-small);

	&:not(.widget_text) {
		a:not(.button) {
			@mixin link var(--general-entry), var(--general-entry-alt);
		}
	}

	&.widget_text {
		a {
			text-decoration: none;
		}
	}

}
