@import "./title/style.css";
@import "./list/style.css";
@import "./tagcloud/style.css";
@import "./recent-posts/style.css";
@import "./table/style.css";
@import "./calendar/style.css";
@import "./rss/style.css";

.widget {
	font-size: var(--general-small);

	&:not(.widget_text) {
		a:not(.button) {
			@mixin link var(--general-entry), var(--general-entry-alt);
		}
	}

	&.widget_text {
		a {
			text-decoration: none;
		}
	}

}
