.hypermarket-myaccount-info {
	background-color: var(--general-tile);
	background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.075) 0, rgba(0, 0, 0, 0.05)), linear-gradient(45deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.075) 0, rgba(0, 0, 0, 0.05));
	background-size: 50px 50px;
	background-position: 0 0, 25px 25px;
	border-style: solid;
	border-color: var(--general-border);
	border-width: 2px 2px 0;

	&__meta {
		display: flex;
		background-color: var(--general-background);
		margin-top: 120px;
		padding: 15px 18px 30px;
	}

	&__avatar {
		img {
			border: 5px solid var(--general-background);
			border-radius: var(--border-radius-base);
			margin: -45px 14px 0 0;
		}
	}

	&__data {
		box-item: flex-1;
		
		p {
			font-size: calc(var(--general-normal) * 1.0625);
			margin-bottom: 0;
		}

		span {
			font-size: calc(var(--general-normal) * 0.8125);
			color: var(--general-text-alt);
		}
	}
}
