.product {

	.cart {

		.button {

			@mixin small-input;
		}
	}

	li& {

		.button {

			@mixin small-input;
		}
	}

	.button {

		&.loading {
			color: transparent;

			&::before {
				animation-duration: 0.8s;
				animation-timing-function: ease;
				animation-name: checkmark;
				size: 8px 18px;
				border-style: solid;
				border-color: var(--general-background);
				transform: scaleX(-1) rotate(135deg);
				transform-origin: left top;
				border-width: 2px 2px 0 0;
				border-radius: 1.5px;
				content: "";
				position: absolute 50% null null calc(50% - 10px);
			}
		}
	}
}

.add_to_cart_inline {

	.button {

		@mixin small-input;
	}
}

.added_to_cart {
	display: hidden;
}
