@import "./coupon";
@import "./login";
@import "./place-order";
@import "./review-order";

.woocommerce-checkout {

	> h2 {
		margin-bottom: 20px;
		font-size: var(--general-large);
	}

	form& {
		box: wrap space-between;

		#customer_details {
			width: 66% ?if media (--screen-tablet-min);
			width: 100% ?if media (--screen-tablet);
		}

		#order_review {
			width: 34% ?if media (--screen-tablet-min);
			padding-left: 11% ?if media (--screen-laptop-min);
			padding-left: 30px ?if media (--screen-laptop) and (--screen-tablet-min);
			width: 100% ?if media (--screen-tablet);

			.has-sidebar & {
				padding-left: 30px ?if media (--screen-laptop-min);
			}

			.col-full--fluid & {
				width: calc(28% + 30px) ?if media (--screen-desktop-min);
			}
		}
	}

	.order-total {

		th {
			display: hidden;
		}
	}
}

.woocommerce-billing-fields {

	> h3 {
		display: hidden;
	}
}
