.woocommerce-checkout {
	form& {
		display: flex;
	    flex-wrap: wrap;

		#customer_details {
			width: 66% ?if media (--screen-sm-min);
			width: 100% ?if media (--screen-sm);
		}

		#order_review {
			width: 34% ?if media (--screen-sm-min);
			padding-left: 10.8% ?if media (--screen-md-min);
			padding-left: 30px ?if media (--screen-md) and (--screen-sm-min);
			width: 100% ?if media (--screen-sm);
		}
	}

	&-review-order-table {
		font-size: var(--general-small);

		thead {
			display: hidden;
		}

		tr {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			margin-bottom: 15px;			
		}

		.woocommerce-shipping-totals {
			td {
				width: 100%;
			}
		}

		td,
		th {
			padding: 0 0 5px;
			border-bottom: 0;
		}

		strong,
		th {
			font-weight: 500;
		}
	}

	.order-total {
		th {
			display: hidden;
		}
	}

	.woocommerce-form-login  {
		margin-bottom: 30px;

		p:first-child {
			font-size: var(--general-small);
			color: var(--general-text-alt);
		}

		.clear + .form-row {
			@extend %coupon-grid;
			grid-template-columns: 1fr 2.5fr ?if media (--screen-md-min);
			justify-items: end;
		    margin-bottom: 7px;
    		align-items: center;

    		label {
    			order: 2;
    			margin-bottom: 0;
    		}
		}

		&__submit {
			width: 100%;
    		margin: 0;
		}

		.lost_password {
			font-size: var(--general-small);
    		text-align: right;
		    margin-bottom: 0;
		}
	}
}

.woocommerce-billing-fields {
	> h3 {
		display: hidden;
	}
}

#order_review_heading {
	display: hidden;
}

.place-order {
	margin-top: var(--line-height-computed);

	.button {
		width: 100%;
	}

	&__back-to-cart {
		@extend %alt-button;
	}
}

.woocommerce-form-coupon {
	@extend %coupon-grid;
	grid-template-columns: 2.5fr 1fr ?if media (--screen-md-min);
	margin-bottom: 30px;

	p:first-child {
		font-size: var(--general-small);
		color: var(--general-text-alt);
		grid-row: 1;
		grid-column: 1/-1;
	    margin-bottom: 7px;
	}

	.form-row {
		margin-bottom: 0;

		&-first {
			width: auto;
			flex-grow: 1;
			margin-right: 0;
		}

		&-last {
			width: auto;
			margin-left: 0;
		}
	}

	.button {
		width: 100%;
		margin: 0;
		@extend %alt-button;
	}
}
