.woocommerce-checkout {
	> h2 {
		margin-bottom: 20px;
		font-size: var(--general-large);
	}

	form& {
		box: wrap;

		#customer_details {
			width: 66% ?if media (--screen-sm-min);
			width: 100% ?if media (--screen-sm);
		}

		#order_review {
			width: 34% ?if media (--screen-sm-min);
			padding-left: 10.8% ?if media (--screen-md-min);
			padding-left: 30px ?if media (--screen-md) and (--screen-sm-min);
			width: 100% ?if media (--screen-sm);
		}
	}

	.order-total {
		th {
			display: hidden;
		}
	}
}

.woocommerce-billing-fields {
	> h3 {
		display: hidden;
	}
}
