.wp-block-image {

	figcaption {

		@extend %caption;
	}

	div& {
		margin-bottom: 0;
	}

	&:not([class*="align"]) > figcaption {
		text-align: left;
	}

	/*rtl:begin:ignore*/
	.alignleft {
		margin-right: 18px;
	}

	.alignright {
		margin-left: 18px;
	}
	/*rtl:end:ignore*/

	.aligncenter {
		text-align: center;
	}

	&[class*="align"] {

		img {
			min-width: 100%;
		}
	}
}
