@import "./site-logo";
@import "./navigation";
@import "./slicknav";

.site-header {
	position: relative;
	z-index: 50;
	width: 100%;
	min-height: var(--navbar-min-height);
	background-color: var(--general-background);
	box: horizontal top;
	padding: 0 30px ?if media (--screen-sm-min);
	padding: 0 15px ?if media (--screen-sm);
	align-items: center ?if media (--screen-lg);

	a {
		text-decoration: none;
	}

	.site-handheld-menu {
		display: none;
	}
}
