/* Site logo */
.site-header {
	position: relative;
	z-index: 50;
	width: 100%;
	min-height: var(--navbar-min-height);
	background-color: var(--general-background);
	display: flex;
	align-items: flex-start;
	padding: 0 30px;

	a {
		text-decoration: none;
	}

	.site-handheld-menu {
		display: none;
	}
}

.site-title {
	font-size: calc(var(--general-normal) * 1.25);
	font-weight: 500;
	color: var(--general-text);

	a {
		color: inherit;
	}
}

.site-description {
	font-style: italic;
	padding-top: 9px;
	font-size: calc(var(--general-normal) * 0.687);
	color: var(--general-text-alt);
}

.site-branding {
	padding: 25px 0;
	margin-right: 20px;
	width: 200px;

	> * {
		line-height: inherit;
		margin-bottom: 0;
	}

	img {
		max-width: var(--image-logo-width);
	}
}

/* Main Navigation */
nav {
	ul {
		margin: 0;
	}

	li::before {
		display: hidden;
	}
}
.main-navigation {
	flex-grow: 1;
	text-transform: uppercase;
	font-size: var(--general-small);
	padding: 10px 0;

	&:last-child {
		padding-right: 140px;
	}

	a {
		color: var(--general-text);
		padding: 15px;
		display: block;

		:--active {
			color: var(--general-text-alt);
			opacity: 0.95;
		}
	}

	.current-menu-item {
		a {
			color: var(--general-text-alt);
			opacity: 0.95;
		}
	}

	.menu-item-has-children {
		> a::after {
			display: inline-block;
			vertical-align: middle;
			font-family: boxicons;
			content: "\e9f9";
			font-size: calc(var(--general-normal) * 0.75);
			margin-left: 1px;
			margin-top: -2px;
		}
	}

	ul {
		@extend %none-list-style;
	}

	> div {
		> ul {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
	}

	.sub-menu {
		display: none;
		position: absolute;
		width: 240px;
		left: 0;
		top: calc(100% + 9px);
		margin-top: -14px;
		padding: 20px;
		text-align: left;
		background-color: var(--general-background);
		border: 1px solid var(--general-border);

		.sub-menu {
			top: 0;
			left: 100%;
			margin-top: -6px;
		}

		.is-off-screen {
			.sub-menu {
				left: auto;
				right: 100%;
			}
		}

		li {
			&:nth-child(n+2) {
				margin-top: 8px;
			}
		}

		a {
			padding: 0;
			font-size: calc(var(--general-small) * 6/7);
		}

		.menu-item-has-children {
			> a::after {
				content: "\e9ff";
				margin-left: 8px;
				margin-top: -1px;
			}
		}
	}

	li {
		position: relative;

		&:hover {
			> .sub-menu {
				display: block;
				animation: slideUp 0.4s;
			}
		}

		.sub-menu {
			> li:hover {
				> .sub-menu {
					animation: slideRight 0.4s;
				}
			}
		}
	}
}
