/* Site logo */
.site-header {
	position: relative;
	z-index: 50;
	width: 100%;
	min-height: var(--navbar-min-height);
	background-color: var(--general-background);
	display: flex;
	align-items: center;
	padding: 0 30px;

	a {
		text-decoration: none;
	}
}

.site-title {
	font-size: calc(var(--general-normal) * 1.25);
	font-weight: 500;
	color: var(--general-text);

	a {
		color: inherit;
	}
}

.site-description {
	font-style: italic;
	padding-top: 9px;
	font-size: calc(var(--general-normal) * 0.687);
}

.site-branding {
	padding: 25px 0;
	margin-right: 20px;
	width: 210px;

	> * {
		line-height: inherit;
		margin-bottom: 0;
	}

	img {
		max-width: var(--image-logo-width);
	}
}

/* Main Navigation */
.main-navigation {
	flex-grow: 1;
	text-transform: uppercase;
	font-size: var(--general-small);

	&:last-child {
		padding-right: 140px;
	}

	a {
		color: var(--general-text);
		padding: 15px;
		display: block;

		&:hover {
			color: var(--general-text-alt);
			opacity: 0.95;
		}
	}

	.current-menu-item {
		a {
			color: var(--general-text-alt);
			opacity: 0.95;
		}
	}

	.menu-item-has-children {
		> a::after {
			display: inline-block;
			vertical-align: middle;
			font-family: "Material Icons";
			content: "\e5c5";
			font-size: 1.2em;
			margin-left: 1px;
			margin-top: -2px;
		}
	}

	ul {
		@extend %none-list-style;
	}

	> div {
		> ul {
			display: flex;
			justify-content: center;

			> li {

			}
		}
	}

	.sub-menu {
		display: none;
		position: absolute;
		width: 240px;
		left: 0;
		top: calc(100% + 9px);
		margin-top: -14px;
		padding: 20px;
		text-align: left;
		background-color: var(--general-background);
		border: 1px solid var(--general-border);

		a {
			padding: 0;
			font-size: calc(var(--general-small) * 6/7);
		}
	}

	li {
		position: relative;

		&:hover {
			> .sub-menu {
				display: block;
				animation: slideUp 0.4s;
			}
		}
	}
}

@-webkit-keyframes slideUp {
	from {
		opacity: 0;
		transform: translate3d(0, 15px, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}
