.site-handheld-toolbar {
	background-color: var(--general-tile);
	display: none ?if media (--screen-tablet-min);

	.input-focused & {
		display: none;
	}

	ul {
		box: horizontal middle;

		@extend %none-list-style;
	}

	.columns-3 {

		li {
			width: 33.333%;
			box: horizontal center;
		}
	}

	a {
		text-decoration: none;
	}

	&__search {

		.site-search {
			width: 100%;
		}

		a {
			font-size: 0;
			color: var(--general-entry);
			box: horizontal center;

			:--active {
				color: var(--general-entry-alt);
			}

			&::before {

				@mixin icon "\f179";
				font-size: 22px;
				padding-top: 4px;
			}
		}

		.widget {
			size: 100% 0;
			position: absolute null null 0 0;

			@mixin shift bottom;
			z-index: -2;
			overflow: hidden;
			background-color: var(--general-tile);

			form {
				opacity: 0;

				@mixin shift opacity;
			}
		}

		.shown {

			.widget {
				bottom: 100%;
				height: auto;
				padding: 10px 10px 5px;

				form {
					opacity: 1;
				}
			}
		}
	}
}
