.site-handheld-toolbar {
	position: sticky;
	bottom: 0;
	background-color: var(--general-tile);
	display: none ?if media (--screen-sm-min);

	.input-focused & {
		display: none;
	}

	ul {
		display: flex;
		align-items: center;
		@extend %none-list-style;
	}

	.columns-3 {
		li {
			width: 33.333%;
			display: flex;
			justify-content: center;
		}
	}

	a {
		text-decoration: none;
	}

	&__search {
		.site-search {
			width: 100%;
		}

		a {
			font-size: 0;
			color: var(--general-text);
			display: flex;
			justify-content: center;

			:--active {
				color: var(--general-text-alt);
			}

			&::before {
				content: "\ebbc";
				font-family: boxicons;
				font-size: calc(var(--general-normal) * 1.375);
				padding-top: 4px;
			}
		}

		.widget {
			size: 100% 0;
			position: absolute;
			left: 0;
			transition: bottom 0.2s ease;
			z-index: -2;
			bottom: 0;
			overflow: hidden;
			background-color: var(--general-tile);

			form {
				opacity: 0;
				@extend %opacity-shift;
			}
		}

		.shown {
			.widget {
				bottom: 100%;
				height: auto;
				padding: 10px 10px 5px;

				form {
					opacity: 1;
				}
			}
		}

		form {
			display: flex;
		}

		.search-field {
			width: auto;
			flex-grow: 1;
			border-right-radius: 0;
			border-right-width: 0;

		}

		[type="submit"] {
			margin: 0;
			border-left-radius: 0;
		}
	}
}
