:--buttons {
	min-height: var(--btn-height);
	font-size: var(--general-small);
	border-radius: var(--border-radius-base);
	padding: 10px 22px;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	max-width: 100%;
	background-color: var(--general-primary);
	color: var(--general-background);
	border-width: 0;
	appearance: none;

	@extend %button-shift;

	:--active {
		background-color: var(--general-primary-alt);
		color: var(--general-background);
	}

	&.disabled,
	&[disabled] {

		@mixin button-color var(--general-entry), var(--general-border), var(--general-border), var(--general-entry), var(--general-tile);
	}
}
