.wp-block-button {
	max-width: 100%;

	&s {
		box: wrap;

		&.aligncenter {
			justify-content: center;
		}

		&.alignright {
			justify-content: flex-end;
		}

		&.alignleft {
			justify-content: flex-start;
		}
	}
}

.wp-block-button__link,
button,
.button,
[type="button"],
[type="reset"],
[type="submit"] {
	max-width: 100%;
	min-height: var(--btn-height);
	font-size: var(--general-small);
	color: var(--general-background);
	background-color: var(--general-primary);
	border-width: 0;
	border-radius: var(--border-radius-base);
	padding: 10px 22px;
	text-transform: uppercase;
	text-decoration: none;
	touch-action: manipulation;
	appearance: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	@extend %button-shift;

	:--active {
		background-color: var(--general-primary-alt);
		color: var(--general-background);
	}

	&[disabled] {
		@mixin button-color var(--general-text), var(--general-border), var(--general-border), var(--general-text), var(--general-tile);
	}
}
