.wp-block-latest-posts {
	padding-left: 0;
	margin-bottom: 0;

	&__post-excerpt {
		margin: 0;
	}

	&:not(.is-grid) {
		& > li {
			border-bottom: 1px solid var(--general-border);
			padding-bottom: 42px;

			&:nth-child(n+2) {
				padding-top: 24px;
				margin-top: 24px;
			}
		}
	}

	> li {
		list-style: none;

		> a {
			@mixin link var(--general-entry-alt);
			font-size: calc(var(--general-normal) * 1.125);
			&::after {
				content: "";
				display: table;
			}
		}
	}

	&.is-grid {
		^&__post-excerpt {
			font-size: var(--general-small);
		}
	}

	@each $item in date, author {
		&__post-$(item) {
			font-size: var(--general-small);
			color: var(--general-entry-alt);
			display: inline-flex;
			align-items: center;
		}
	}

	&.has-dates {
		^&__post-author {
			@extend %meta-divider;
		}
	}

	&__featured-image {
		&.aligncenter {
			text-align: center;
			margin-bottom: 12px;
		}

		/*rtl:begin:ignore*/
		@each $item, $align in (left, right), (right, left) {
			&.align$(item) {
				margin-$(align): 12px;
			}
		}
		/*rtl:end:ignore*/
	}
}
