.woocommerce-NoticeGroup,
.woocommerce-notices-wrapper {
	width: 100%;
}

.woocommerce {
	@each $notice in error, info, message {
		&-$(notice) {
			position: relative;
			padding: 14px 20px 14px 44px;
			width: 100%;
			border-radius: var(--border-radius-base);
			color: var(--general-background);
			margin-bottom: 30px;

			li {
				list-style: none;
				margin: 0;
			}

			&::before {
				font-family: boxicons;
				position: absolute 8px null null 14px;
				font-size: var(--general-medium);
			}

			&::after {
				content: "";
				size: 4px 100%;
				position: absolute 0 null 0 0;
				background: var(--general-text);
				opacity: 0.4;
				border-left-radius: var(--border-radius-base);
			}

			.button {
				float: right;
				background-color: transparent;
				font-size: var(--general-small);
				padding: 1px 0 1px 15px;
				min-height: auto;
				border-left: 1px solid;
				border-radius: 0;
				margin: 0 0 0 4px;

				@media (--screen-sm) {
					padding: 3px 0 3px 8px;
				}
			}

			a {
				color: inherit;

				:--active {
					color: inherit;
				}
			}
		}
	}

	&-error {
		background-color: var(--alert-danger);

		&::before {
			content: "\ed56";
		}
	}

	&-info {
		background-color: var(--alert-info);

		&::before {
			content: "\eda7";
		}
	}

	&-message {
		background-color: var(--alert-success);

		&::before {
			content: "\ea0f";
		}
	}
}
