.woocommerce-checkout {
	&-review-order-table {
		font-size: var(--general-small);

		.woocommerce-shipping-totals {
			margin-bottom: 5px;

			th {
				display: hidden;
			}
		}

		thead {
			display: hidden;
		}

		tr {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			margin-bottom: 15px;
		}

		.woocommerce-shipping-totals {
			td {
				width: 100%;
			}
		}

		td,
		th {
			padding: 0 0 5px;
			border-bottom: 0;
		}

		strong,
		th {
			font-weight: 500;
		}
	}
}

#order_review_heading {
	display: hidden;
}

.woocommerce-privacy-policy-text {
	font-size: var(--general-small);
}

.woocommerce-terms-and-conditions {
	background-color: var(--general-tile);
	font-size: var(--general-small);
	padding: 10px;
	overflow-x: hidden;
	margin-bottom: 10px;
}

.woocommerce-order-pay {
	#payment {
		margin-top: 48px;
	}
}
