.woocommerce-Reviews {

	&-title {
		display: hidden;
	}

	.comment {

		&list {

			@extend %none-list-style;
		}

		&_container {
			display: grid;
			grid-template-columns: 80px 1fr;
			grid-gap: 18px;
			position: relative;

			> * {
				min-width: 0;
			}
		}

		&-text {
			display: grid;
			grid-template-columns: 1fr 103px ?if media (--screen-xs-min);
			grid-gap: 10px;

			> * {
				min-width: 0;
			}

			.meta {
				grid-area: 1/1 ?if media (--screen-xs-min);
				box: horizontal wrap middle;
				margin-bottom: 0;

				> * {
					margin-right: 5px;
				}
			}

			.star-rating {

				@media (--screen-xs-min) {
					grid-area: 1/2;
					margin-top: 8px;
				}
			}

			.description {

				@media (--screen-xs-min) {
					grid-row: 2;
					grid-column: 1/-1;
				}
				font-size: var(--general-small);

				> *:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.avatar {
		border-radius: var(--border-radius-base);
	}

	.review {

		&:nth-child(n+2) {
			border-top: 1px solid var(--general-border);
		}

		> .comment_container {
			padding: 33px 0;
		}
	}
}

.woocommerce-review {

	&__author {
		font-weight: 500;
	}

	&__published-date {
		font-size: var(--general-small);
		color: var(--general-entry-alt);

		&::before {
			content: "";
			size: 20px 1px;
			margin-right: 5px;
			background-color: var(--general-entry-alt);
			display: inline-block;
			vertical-align: middle;
		}
	}

	&__dash {
		display: none;
	}

	&__verified {
		font-size: 22px;
		size: 22px;
		overflow: hidden;
		padding-top: 22px;
		position: absolute 35px null null 62px;
		color: var(--alert-success);

		&::before {

			@mixin icon "\f12a";
			font-style: normal;
			position: absolute 0 null null null;
			line-height: 1;
		}

		.children & {
			top: 2px;
		}
	}
}

.comment-form {

	&-rating {

		body:not(.logged-in) & {
			order: 8;
		}

		&:first-child {
			padding-top: 16px;
		}

		.stars {
			display: hidden;
		}

		#rating {
			display: block !important;
		}
	}
}
