.icon {
	&:before {
		font-family: boxicons;
	}
}
.icon--facebook {
	&:before {
		content: "\e920";
	}

	:--active {
		color: #3b5998;
	}
}

.icon--linkedin {
	&:before {
		content: "\e93a";
	}

	:--active {
		color: #0e76a8;
	}
}

.icon--twitter {
	&:before {
		content: "\e962";
	}

	:--active {
		color: #00acee;
	}
}

.icon--telegram {
	&:before {
		content: "\e95e";
	}

	:--active {
		color: #0088cc;
	}
}

.icon--whatsapp {
	&:before {
		content: "\e968";
	}

	:--active {
		color: #25d366;
	}
}

.icon--email {
	&:before {
		content: "\ea8e";
	}
	:--active {
		color: #3f549b;
	}
}