.wc-block-active-filters {
	&__list {
	    padding-left: 0;

	    & > li:nth-child(n+2) {
	    	border-top: 1px solid var(--general-border);
    		margin-top: 24px;
	    }

	    ^& ul &-item {
	    	&-name {
	    	    font-weight: 400;
	    	    display: flex;
    	        padding-right: 0;
	    	}

	    	&:nth-child(n+2) {
	    		margin-top: 16px;
		    }

	    	&-operator {
    		    font-size: var(--general-small);
    			margin: 2px 2px 0 0;
    			color: var(--general-entry-alt);
	    	}

		    &-remove {
		    	padding-top: 36px;
		    	size: 46px 36px;
	    	    margin: 0 0 0 auto;
	    	    min-height: auto;
	    	    position: relative;
	    	    justify-content: flex-end;

				&::before {
					@mixin icon "\f335";
					font-size: 20px;
					border: 2px solid var(--general-border);
					box: center middle;
					border-radius: var(--border-radius-small);
					size: 36px;
					background: var(--general-background);
    				color: var(--general-entry);
				}

				&:hover::before {
					color: var(--alert-danger);
				}
		    }

		    &-type {
		    	padding-bottom: 7px;
		    }
	    }
	}

	& &__clear-all {
		@extend %small-input;
		@mixin button-color;
	    margin-top: 21px;
	    text-decoration: none;
    	float: none;
	}
}

.wp-block-woocommerce-active-filters {
	> *:nth-last-child(2) {
		@extend %small-title;
	}
}