.post-view {
	border-bottom: 1px solid var(--general-border);
	padding-bottom: 24px;
	@extend %clear;

	&:last-of-type {
		border-bottom-width: 0;
	}

	.jscroll-added & {
		&:first-of-type {
			border-top: 1px solid var(--general-border);
			padding-top: 48px;
		}
	}

	& + & {
		padding-top: 24px;
		margin-top: 24px;
	}

	> .div {
		width: 34.3% ?if media (--screen-sm-min);
		float: left ?if media (--screen-sm-min);
		padding-right: 11% ?if media (--screen-md-min);
		padding-right: 30px ?if media (--screen-md);
		box: vertical;
	}

	> *:not(.div) {
		float: right ?if media (--screen-sm-min);
		width: 65.7% ?if media (--screen-sm-min);
	}

	.entry {
		&-title {
			font-size: var(--general-medium);
			font-weight: 400;

			a {
				@mixin link var(--general-entry-alt);

				.sticky&:before {
					@mixin icon "\ee21";
				    vertical-align: bottom;
			        color: var(--general-entry-alt);
				}
			}
		}

		&-meta {
			order: -1;

			&__col {
				&:last-child {
					flex-grow: 1;
					justify-content: space-between;
				}
			}
		}

		&-thumbnail {
			margin-bottom: var(--line-height-computed);
		}

		&-footnote {
			padding-bottom: 18px;

			&__col {
				font-size: var(--general-small);
				color: var(--general-entry-alt);

				&:first-child {
					box: wrap;

					a {
						@mixin link var(--general-entry);
					}
				}
			}
		}
	}

	.post-categories {
		@extend %meta-divider;
	}
}
