body {
	font-size: var(--general-normal);
	font-family: "Work Sans";
	font-weight: 400;
	line-height: var(--line-height-base);
	color: var(--general-text);
}

:--heading {
	margin-top: 0;
	color: var(--general-text);
	line-height: var(--headings-line-height);
}

h1 {
	margin-bottom: calc(var(--line-height-computed) * 1.2);
	font-size: calc(var(--general-normal) * 2.5);
	font-weight: 300;
}

h2 {
	margin-bottom: var(--line-height-computed);
	font-size: calc(var(--general-normal) * 1.875);
	font-weight: 300;
}

h3 {
	margin-bottom: calc(var(--line-height-computed) * 1.2);
	font-size: var(--general-large);
	font-weight: 300;
}

h4 {
	margin-bottom: calc(var(--line-height-computed) * 1.4);
	font-size: calc(var(--general-normal) * 1.375);
	font-weight: 400;
}

h5 {
	margin-bottom: calc(var(--line-height-computed) * 2);
	font-size: calc(var(--general-normal) * 1.125);
	font-weight: 400;
}

h6 {
	font-size: var(--general-normal);
	margin-bottom: calc(var(--line-height-computed) * 2);
	font-weight: 500;
}

p {
	margin-bottom: var(--line-height-computed);
	margin-top: 0;
}

.has-small-font-size {
	font-size: var(--general-small);
}

.has-regular-font-size {
	font-size: var(--general-normal);
}

.has-large-font-size {
	font-size: calc(var(--general-normal) * 1.125);
}

a {
	color: var(--general-primary);
	text-decoration: underline;
	@extend %color-shift

		&:focus,
	&:hover {
		color: var(--general-primary);
		text-decoration: none;
	}

	.has-text-color & {
		color: inherit;
	}
}

ins {
	text-decoration: none;
}
