.woocommerce-ResetPassword {
	max-width: 500px;
	margin: 0 auto;

	p {
		font-size: var(--general-small);
	}

	.form-row {

		&-first {
			width: 100%;
			margin-right: 0;
		}

		&:last-of-type {
			text-align: right;
		}
	}

	.button {
		min-width: 40%;
	}
}
