#customer_login {
	.woocommerce-form {
		max-width: 360px ?if media (--screen-sm-min);

		&-login {
			.form-row:not(.woocommerce-form-row) {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 0;

				label {
					margin-right: 10px;
				}
			}

			&__submit {
				min-width: 40%;
				margin: 0 0 10px;
			}
		}
	}
}

.lost_password {
	font-size: var(--general-small);
	margin-bottom: 0;
}
