@import "./../../../woocommerce/blocks/all-products";

.wc-block-grid__product {
	.editor-styles-wrapper .block-editor-writing-flow & {
		&-title {
			font-size: var(--general-normal);
			font-weight: 400;
			margin-bottom: 0;
			color: var(--general-entry-alt);
			line-height: inherit;
		}

		&s ^& ^&-image ^&-onsale {
			top: 20px;
			right: auto;
			left: 20px;
		}
	}
}
