@each $nav, $item in (.pagination, .page-links), (li, .post-page-numbers) {
	$(nav) {
		font-size: var(--general-small);
		padding-top: 30px;
		border-top: 1px solid var(--general-border);
		box: horizontal top;

		$(item) {
			display: inline-block;
			color: var(--general-entry);
		}

		.current {
			opacity: 0.55;
		}
	}
}

.post-page-numbers {
	display: inline-block;
	padding: 2px 10px 2px 0;
	margin-top: -2px;

	@mixin shift opacity;

	&:first-child {
		margin-left: 10px;
	}

	&:hover {
		opacity: 0.55;
	}

	a& {

		@mixin link;
	}
}

.pagination {

	li {

		> * {
			display: inline-block;
			padding: 2px 10px 2px 0;

			@mixin shift opacity;

			&:hover {
				opacity: 0.55;
			}
		}

		a {

			@mixin link;
		}
	}
}

.navigation {

	&__pager {
		display: flex;
		margin: 4px 0 0 30px;

		a {

			@mixin link var(--general-entry);
			@mixin shift opacity;

			&:hover {
				opacity: 0.55;
			}
		}

		> * {

			@extend %meta-divider;
		}
	}
}
