.wp-block-pullquote {
	padding: 24px 0;
	margin-bottom: var(--line-height-computed);

	blockquote {

		.editor-styles-wrapper & p {
			font-size: var(--general-medium);
			margin-bottom: 0;
			line-height: var(--line-height-base);
		}
	}

	&__citation {
		font-size: var(--general-small);
		margin-top: 10px;
	}

	&:not(.is-style-solid-color) {
		border-color: var(--general-border);
		border-width: 4px 0;
		border-style: solid;

		blockquote {
			text-align: center;
			margin: 0;
		}
	}

	&.is-style-solid-color {

		blockquote {
			margin: 0 auto;
		}
	}
}
