.woocommerce-product-rating {
	position: relative;
	box: horizontal middle;
	margin: 8px;

	.star-rating {
		font-size: 14px;
		letter-spacing: 3.7px;
		width: 85px;
	}

	.woocommerce-review-link {
		position: absolute 0 0 0 0;
		opacity: 0;
	}
}
