.product_list_widget {
	text-align: left;

	img {
		position: absolute 0 null null 0;
	}

	&:not(.cart_list) {
		font-size: calc(var(--general-normal) * 0.8125);
		color: var(--general-entry-alt);

		li {
			padding-left: 62px;
			min-height: 50px;

			&:nth-child(n+2) {
				margin-top: 12px;
			}
		}

		img {
			width: 50px;
		}

		.product-title {
			color: var(--general-entry);
			font-size: var(--general-small);
			font-weight: 500;
			display: block;

			@mixin shift color;

			&:hover {
				color: var(--general-primary);
			}
		}

		.star-rating {
			size: 64.5px 12px;
			font-size: 12px;
			letter-spacing: 1px;
			margin-bottom: 4px;
		}
	}
}
