.wp-block-file {
	box: center;

	&__textlink {
		color: var(--general-primary);
		text-decoration: underline;

		:--active {
			text-decoration: none;
		}
	}

	& &__button-richtext-wrapper {
		margin-left: 12px;
	}

	& &__button {
		@extend %small-input;
		background-color: var(--general-primary);
		color: var(--general-background);
		border-radius: var(--border-radius-base);
		text-align: center;
		box: center middle;
		text-decoration: none;
		@mixin shift background;

		&:hover {
			background-color: var(--general-primary-alt);
		}
	}
}
