@import "./../../../public/core-blocks/file";

.wp-block-file {
    margin-bottom: 1.5em;

	&__textlink {
		color: var(--general-primary);
		text-decoration: underline;

		:--active {
			text-decoration: none;
		}
	}

	& &__button-richtext-wrapper {
		margin-left: 0;
	}
}
