.woocommerce-form {

	&-register {

		.woocommerce-privacy-policy-text {
			color: var(--general-entry-alt);
		}

		&__submit {
			min-width: 40%;
		}

		.form-row {

			&:last-child {
				text-align: right;
			}
		}
	}
}
