@each $flash in sale, new, featured {
	.on$(flash) {

		@extend %flashes;

		.div > & {
			left: 35px;
		}
	}
}

.onsale {
	color: var(--alert-danger);
}

.onnew {
	color: var(--alert-success);
}

.onfeatured {
	color: var(--alert-warning);
}
