[data-align="full"] {
	.wp-block-group {
		> .wp-block-group__inner-container {
			> .wp-block {
				padding-left: 0;
    			padding-right: 0;

    			&[data-type="core/list"] {
    				padding-left: 18px;
    			}
			}
		}
	}
}