.product-category {

	> a {
		grid-column: 1/-1;
		box: vertical;
	}

	img {
		margin: 0 auto 12px;
		transition: opacity 0.4s, transform 0.4s;
	}

	&:hover {

		img {
			opacity: 0.5;
			transform: scale(1.05);
		}
	}

	+ .type-product {
		grid-column: 1;
	}
}

.woocommerce-loop-category {

	&__title {
		font-size: var(--general-normal);
		text-transform: uppercase;
		font-weight: 400;
		text-align: center;
		margin: auto 0 0;

		mark {
			background-color: transparent;
			font-size: 75%;
			top: -0.4em;
			vertical-align: baseline;
			position: relative;
		}
	}
}
