.pagination {
	font-size: var(--general-small);
	padding-top: 12px;
	box: horizontal top;

	li {
		display: inline-block;
		color: var(--general-text);

		a,
		span {
			display: inline-block;
			padding: 2px 10px 2px 0;
			@mixin shift opacity;

			&:hover {
				opacity: 0.55;
			}
		}

		a {
			@extend %link-none;
		}
	}

	.current {
		opacity: 0.55;
	}
}

.navigation {
	&__pager {
		display: flex;
		margin: 4px 0 0 30px;

		a {
			@extend %link-none;
			@mixin shift opacity;

			&:hover {
				opacity: 0.55;
			}

			:--active {
				color: var(--general-text);
			}
		}

		> * {
			&:nth-last-child(2) {
				@extend %meta-divider;
			}
		}
	}
}
