.wp-block-column {
    flex: 1 0 0;

    &[style*=flex-basis] {
	    flex-grow: 0;
    }

	&:nth-child(n+2) {
		margin-left: 32px ?if media (min-width: 48.875em);
	}

	flex-basis: 100% !important ?if media (max-width: 48.813em);

	&s {
		display: flex;
		flex-wrap: wrap ?if media (max-width: 48.813em);

		&.has-background {
		    padding: 20px 38px;
		}
	}
}

@each $align, $flex in (top, center, bottom), (flex-start, center, flex-end) {
	.are-vertically-aligned-$(align) {
		align-items: $(flex);
	}

	.is-vertically-aligned-$(align) {
		align-self: $(flex);
	}
}