.single-view {
	max-width: 945px;
	width: 100%;
	margin: 0 auto;

	.entry-meta {
		justify-content: space-between;
	}

	.post {
		&-categories {
			margin-right: 15px;
		}

		&ed-on {
			box: horizontal middle;
			@extend %meta-divider;

			time {
				@extend %meta-item;

				&::before {
					@mixin icon "\e9e5";
				}
			}
		}

		&-tags {
			padding-top: 10px;
		}
	}
}

.post {
	.entry {
		&-meta {
			box: wrap;
			font-size: var(--general-small);
			color: var(--general-text-alt);
			padding-bottom: 18px;

			&__col {
				box: wrap;
			}

			a {
				@extend %link-none;

				:--active {
					color: var(--general-text);
				}
			}
		}

		&-footnote {
			box: wrap space-between;
		}
	}

	&-author {
		@extend %meta-divider;
	}

	&ed-on {
		font-size: 0;

		time {
			font-size: var(--general-small);

			&:not(.published) {
				display: hidden;
			}
		}
	}

	&-comments {
		a {
			@extend %meta-item;
			&::before {
				@mixin icon "\ea43";
			}
		}
	}

	&-tags {
		font-size: var(--general-small);
		color: var(--general-text-alt);

		a {
			@extend %link-none;

			:--active {
				color: var(--general-text);
			}

			&::before {
				content: "#";
			}

			&:not(:last-child)::after {
				content: ",";
				margin-right: 4px;
			}
		}
	}
}
