.woocommerce-product-gallery {
	position: relative;
	display: flex;
	flex-direction: column ?if media (--screen-md);

	&__wrapper {
		max-width: none;
	}

	&__trigger {
		size: 34px;
		position: absolute 20px 20px null null;
		box: horizontal center middle;
		font-size: 20px;
		border-radius: var(--border-radius-small);
		z-index: 3;
		background-color: var(--general-background);
		@mixin link;
		opacity: 0.6;
		@mixin shift opacity;

		:--active {
			opacity: 1;
		}

		&::before {
			@mixin icon "\ec51";
		}

		> img {
			display: none !important;
		}
	}

	&--disable-zoom {
		^&__wrapper {
			pointer-events: none;
		}

		^&__trigger {
			display: hidden;
		}
	}

	.flex-control-thumbs {
		@extend %none-list-style;
		box: middle;
		flex-direction: column ?if media (--screen-md-min);
		margin: 12px -95px 0 15px ?if media (--screen-md-min);
		flex-wrap: wrap ?if media (--screen-md);

		li {
			width: 80px;
			margin-top: 24px ?if media (--screen-md);

			&:nth-child(n+2) {
				margin-top: 32px ?if media (--screen-md-min);
				margin-left: 32px ?if media (--screen-md);
			}
		}

		img {
			opacity: 0.35;
			@mixin shift opacity;
			cursor: pointer;

			&.flex-active {
				opacity: 1;
			}
		}
	}
}
