.woocommerce-product-gallery {
	position: relative;
	display: flex;
	flex-direction: column ?if media (--screen-md);
	padding: 24px 0;

	&__wrapper {
		max-width: none;
	}

	&__trigger {
		position: absolute;
		size: 100%;
		z-index: 4;
		cursor: url(../img/zoom-in.svg) 0 0, pointer;

		> img.emoji {
			display: none !important;
		}
	}

	.flex-control-thumbs {
		@extend %none-list-style;
		display: flex;
		justify-content: center;
		flex-direction: column ?if media (--screen-md-min);
		margin: 12px -95px 0 15px ?if media (--screen-md-min);
		flex-direction: wrap ?if media (--screen-md);

		li {
			width: 80px;

			&:nth-child(n+1) {
				margin-top: 32px ?if media (--screen-md-min);
				margin-left: 32px ?if media (--screen-md);
			}
		}

		img {
			opacity: 0.35;
			@mixin shift opacity;
			cursor: pointer;

			&.flex-active {
				opacity: 1;
			}
		}
	}
}
