@import "./../../../woocommerce/blocks/attribute-filter";

.wc-block-attribute-filter {
	&__button {
		text-transform: uppercase;
		border-radius: var(--border-radius-base);
		margin-left: 0;
	}

	&-list {
		.editor-styles-wrapper .block-editor-writing-flow & {
			padding-left: 0;
		}

		label {
			display: inline-block;
			margin: 0 0 0 9px;
			padding-left: 18px;
		}

		[type="checkbox"] {
			position: absolute;
			size: 15px;
			border-radius: 1px;
			vertical-align: middle;
			margin: 5px 0 0 2px;
			border: 2px solid var(--general-border);
		}
	}
}

.editor-styles-wrapper .block-editor-writing-flow {
	[data-type="woocommerce/attribute-filter"] {
		> div {
			> *:nth-last-child(2) {
				@extend %small-title;
			}
		}
	}
}
