li.product {
	> .div {
		grid-column: 1/-1;
		grid-row: 1;
		box: horizontal right bottom;
		margin: 46px 22px;
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
	    z-index: 1;
		@mixin shift opacity, 0.35s;
	}

	&:hover {
		> .div {
			opacity: 1;
			visibility: visible;
		}
	}

	.button {
		pointer-events: auto;
	}
}
