.post-navigation {
	.nav {
		&-links {
			display: flex;
			padding: 15px 0;
			border-style: solid;
			border-color: var(--general-border);
			border-width: 1px 0;
			margin-top: 30px;

			a {
				border-radius: var(--border-radius-small);
				border: 2px solid var(--general-border);
				display: flex;
				align-items: center;
				justify-content: center;
				text-transform: uppercase;
				text-decoration: none;
				color: var(--general-text);
				@extend %color-background-shift;

				&:hover {
					background-color: var(--general-border);
				}
			}
		}

		@each $nav in previous, next {
			&-$(nav) {
				width: 136px;
				display: flex;

				a {
					padding: 0 16px;
					font-size: calc(var(--general-normal) * 0.75);
					min-height: 36px;
				}
			}
		}

		&-previous {
			order: 1;
			justify-content: flex-start;
			a {
				&::before {
					content: "\ea1a";
					font-family: boxicons;
					margin: 0 4px 0 -3px;
				}
			}

			&:first-child {
				& + .nav-blog {
					padding-right: 136px;
				}
			}
		}

		&-next {
			order: 3;
			justify-content: flex-end;
			a {
				&::after {
					content: "\ea1d";
					font-family: boxicons;
					margin: 0 -3px 0 4px;
				}
			}

			&:first-child {
				& + .nav-blog {
					padding-left: 136px;
				}
			}
		}

		&-blog {
			order: 2;
			margin: 0 auto;
			a {
				padding: 0 7px;
				min-width: 44px;
				min-height: 44px;
				font-size: calc(var(--general-normal) * 1.125);
			}
			span {
				&::before {
					content: "\eb2a";
					font-family: boxicons;
				}
			}
		}
	}
}
