.post-navigation {
	.nav {
		&-links {
			display: grid;
    		grid-template-columns: 1fr 60px 1fr;
			padding: 15px 0;
			border-style: solid;
			border-color: var(--general-border);
			border-width: 1px 0;
			margin-top: 22px;

			> * {
				display: flex;
			    align-items: center;
			}

			a {
				border-radius: var(--border-radius-base);
				display: flex;
				align-items: center;
				justify-content: center;
				text-transform: uppercase;
				text-decoration: none;
				@extend %alt-button;
				@extend %color-background-shift;
			}
		}

		@each $nav in previous, next {
			&-$(nav) {
				a {
					padding: 0 16px;
					font-size: calc(var(--general-normal) * 0.75);
					min-height: 36px;
				}
			}
		}

		&-previous {
			grid-area: 1/1;
			justify-content: flex-start;
			a {
				&::before {
					content: "\ea1a";
					font-family: boxicons;
					margin: 0 4px 0 -3px;
				}
			}
		}

		&-next {
			grid-area: 1/3;
			justify-content: flex-end;
			a {
				&::after {
					content: "\ea1d";
					font-family: boxicons;
					margin: 0 -3px 0 4px;
				}
			}
		}

		&-blog {
		    grid-area: 1/2;
			margin: 0 auto;
			a {
				padding: 0 7px;
				min-width: 44px;
				min-height: 44px;
				font-size: calc(var(--general-normal) * 1.125);
			}
			span {
				&::before {
					content: "\eb2a";
					font-family: boxicons;
				}
			}
		}
	}
}
