ul.products {

	@mixin none-list-style;
	display: grid;
	column-gap: 30px;
	row-gap: 36px;

	> * {
		min-width: 0;
	}

	&.columns-2 {
		grid-template-columns: repeat(2, 1fr) ?if media (--screen-smartphone-min);
	}

	&.columns-3 {
		grid-template-columns: repeat(3, 1fr) ?if media (--screen-laptop-min);
		grid-template-columns: repeat(2, 1fr) ?if media (--screen-laptop) and (--screen-smartphone-min);
	}

	&.columns-4 {
		grid-template-columns: repeat(4, 1fr) ?if media (--screen-laptop-min);
		grid-template-columns: repeat(2, 1fr) ?if media (--screen-laptop) and (--screen-smartphone-min);
	}

	&.columns-5 {
		grid-template-columns: repeat(5, 1fr) ?if media (--screen-desktop-min);
		grid-template-columns: repeat(3, 1fr) ?if media (--screen-desktop) and (--screen-laptop-min);
		grid-template-columns: repeat(2, 1fr) ?if media (--screen-laptop) and (--screen-smartphone-min);
	}

	&.columns-6 {
		grid-template-columns: repeat(6, 1fr) ?if media (--screen-desktop-min);
		grid-template-columns: repeat(3, 1fr) ?if media (--screen-desktop) and (--screen-laptop-min);
		grid-template-columns: repeat(2, 1fr) ?if media (--screen-laptop) and (--screen-smartphone-min);
	}
}
