.form-row {

	@media (--screen-sm-min) {

		&-last,
		&-first {
			width: calc(50% - 15px);
			float: left;
		}

		&-first {
			margin-right: 30px;
		}
	}

	&-wide {
		width: 100%;
		clear: both;
	}
}

.woocommerce-form {

	@each $item in checkbox, radio {
		&__label-for-$(item) {
			position: relative;
			padding-left: 27px;

			input {
				left: 0;
				margin-top: 2px;
			}
		}
	}

	&-row {

		span {

			em {
				font-size: calc(var(--general-normal) * 0.75);
			}
		}
	}
}

.woocommerce-input-wrapper {
	position: relative;
	display: block;
}

@each $validate in validated, invalid {
	.woocommerce-$(validate) {

		.input-text {
			padding-right: 30px;
		}

		.select2-container--default .select2-selection--single,
		select {
			background-position: calc(100% - 37.5px) 19px, calc(100% - 33px) 19px, 100% 0;
			padding-right: 44px;
		}

		.woocommerce-input-wrapper::before {
			font-family: dashicons;
			position: absolute 11px 10px null null;
			line-height: 1;
			font-size: var(--general-medium);
			z-index: 1;
		}
	}
}

.woocommerce-validated {

	select,
	.select2-container--default .select2-selection--single,
	.input-text {
		border-color: var(--alert-success);
	}

	.woocommerce-input-wrapper::before {
		content: "\f147";
		color: var(--alert-success);
	}
}

.woocommerce-invalid {

	select,
	.select2-container--default .select2-selection--single,
	.input-text {
		border-color: var(--alert-danger);
	}

	.woocommerce-input-wrapper::before {
		content: "\f335";
		color: var(--alert-danger);
	}
}

.woocommerce-password-strength {
	font-size: var(--general-small);
	margin-top: 5px;

	&.short {
		color: var(--alert-warning);
	}

	&.bad {
		color: var(--alert-danger);
	}

	&.good {
		color: var(--alert-info);
	}

	&.strong {
		color: var(--alert-success);
	}
}

.required {
	color: var(--alert-danger);
}
