.form-row {
	&-last,
	&-first {
		width: 50%;
		float: left;
	}

	&-last {
		padding-left: 15px;
	}

	&-first {
		padding-right: 15px;
	}

	&-wide {
		width: 100%;
		clear: both;
	}
}

.woocommerce-form {
	@each $item in checkbox, radio {
		&__label-for-$(item) {
		    position: relative;
	        padding-left: 27px;

		    input {
		    	left: 0;
	    	    margin-top: 0;
		    }
		}
	}
}