/**
 * Sections
 */
.wp-block {
	max-width: 1140px;
}

.block-editor-writing-flow {
	padding: 0 5px;
}

.block-editor-block-list__block {
	margin-top: 0;
	margin-bottom: 0;
}

/**
 * Elements
 */

.editor-styles-wrapper {
	.block-editor-writing-flow {
		ul,
		ol {
			padding-left: 18px;
			margin: 0 0 var(--line-height-computed);
			line-height: 1.8;

			ul,
			ol {
				margin-bottom: 0;
			}
		}
	}
}

.wp-block-quote {
	position: relative;
	padding: 12px 0 12px 25px;
	margin: 0 0 var(--line-height-computed);
	font-size: calc(var(--general-normal) * 1.125);
	font-weight: 300;
	color: var(--general-quote);
	border-left: 5px solid var(--general-border);

	.editor-styles-wrapper .block-editor-writing-flow & p {
		margin-bottom: 0;
	}

	&__citation {
		box: horizontal middle;
		font-size: var(--general-small);
		color: var(--general-entry-alt);
		margin-top: 10px;

		&::before {
			content: "";
			size: 20px 1px;
			background-color: var(--general-entry-alt);
			margin-right: 9px;
		}
	}
}
/**
 * Alignment
 */
.editor-styles-wrapper {
	.block-editor-writing-flow {
		.block-editor-block-list__layout.is-root-container {
			> .wp-block[data-align="full"] {
				margin-left: -15px;
				margin-right: -15px;
			}
		}
	}
}
