.woocommerce-pagination {
	&--without-numbers {
		display: flex;
		padding: 15px 0;
		border-bottom: 1px solid var(--general-border);

		.woocommerce-button {
			@mixin button-color;
			@extend %small-input;
			max-width: calc(50% - 5px);

			&--next {
				margin-left: auto;

				&::after {
					@mixin icon "\f345";
					margin: 0 -3px 0 4px;
				}
			}

			&--previous {
				margin-right: auto;

				&::before {
					@mixin icon "\f341";
					margin: 0 4px 0 -3px;
				}
			}
		}
	}
}
