.product-navigation {
	display: none ?if media (--screen-laptop);

	@media (--screen-laptop-min) {

		a {

			@mixin link var(--general-entry);
			text-transform: uppercase;
			position: absolute 18% null null null;

			:--active {

				img {
					opacity: 1;
					transform: scale(1);
				}
			}

		}

		&__prev {
			left: 30px;
			text-align: left;
		}

		&__next {
			right: 30px;
			text-align: right;
		}

		img {
			width: 80px;
			opacity: 0;
			display: block;
			transform: scale(0.85);
			margin-bottom: 9px;
			transition: opacity 0.3s, transform 0.3s;
		}
	}
}
