@import "./../../../woocommerce/blocks/products";

.price del {
	font-size: 87.5%;
	opacity: 0.7;
}

.wc-block-grid {

	.editor-styles-wrapper & &__products {
		margin: 0;
		padding-left: 0;

		^&__product-rating {

			> * {
				display: flex;
				color: var(--alert-warning);
			}
		}

		^&__product {
			margin: 0;
		}
	}
}
