@import "./../../../woocommerce/blocks/products";

.price del {
    font-size: 87.5%;
    opacity: .7;
}
.wc-block-grid {
	.editor-styles-wrapper & &__products {
		margin: 0;
	    padding-left: 0;

	    ^&__product-rating {
	    	.star-rating {
    		    display: flex;
    		    font-family: dashicons;
    		    color: var(--alert-warning);
	    	}
	    }

	    ^&__product {
    	    margin: 0;
	    }
	}
}