.page-view,
.single-view {

	.entry-thumbnail {

		img {
			margin: 0 auto 48px;
			display: block;
		}
	}
}

@each $content in .page-view, .single-view, .site-main {
	$(content) > .div:not(:empty):first-child {

		@mixin alignfull;
		background-color: var(--general-tile);
		text-align: center;
		margin-bottom: 60px;
		padding-top: 60px;
		padding-bottom: 60px;

		.entry-header {

			@mixin colfull;

			.entry-title {
				margin-bottom: 0;
			}

			&:nth-last-child(2) {
				margin-bottom: 18px;
			}
		}

		.entry-description {
			font-size: var(--general-small);
			color: var(--general-entry-alt);

			@mixin colfull 660px, 0;
		}
	}
}

.post-edit-link {
	font-size: var(--general-small);
	margin-top: 14px;
}

.entry-content {

	&::after {
		content: "";
		display: block;
		clear: both;
	}
}

.edit-link {
	display: block;
	text-align: right;
	color: var(--general-entry-alt);

	a {

		@mixin link;

		&::before {

			@mixin icon "\f464";
			text-decoration: underline;
			margin-right: 2px;
		}
	}
}
