.page-view,
.single-view {
	.entry-thumbnail {
		img {
			margin: 0 auto 48px;
		}
	}
}

@each $content in .page-view, .single-view, .site-main {
	$(content) > .div:first-child {
		@extend %alignfull;
		background-color: var(--general-tile);
		text-align: center;
		margin-bottom: 60px;
		padding-top: 60px;
		padding-bottom: 60px;

		.entry-header {
			@extend %colfull;

			.entry-title {
				margin-bottom: 0;
			}

			&:nth-last-child(2) {
				margin-bottom: 18px;
			}
		}

		.entry-description {
			font-size: var(--general-small);
			color: var(--general-text-alt);
			@extend %colmd;
		}
	}
}

.post-edit-link {
	font-size: var(--general-small);
	text-decoration: none;
	display: inline-flex;

	&::before {
		@mixin icon "\ed50";
	}
}
