@import "./add-to-cart/style.css";
@import "./gallery/style.css";
@import "./share-button/style.css";
@import "./summary/style.css";
@import "./navigation/style.css";
@import "./star-rating/style.css";
@import "./meta/style.css";
@import "./stock/style.css";
@import "./variations/style.css";
@import "./tabs/style.css";
@import "./products/style.css";

.product {
	div& > .div {
		background-color: var(--general-tile);
		@extend %alignfull;
		padding: 96px 15px 72px;
		margin-bottom: 48px;

		> * {
			@mixin colfull 660px;
		}

		> .div {
			position: relative;
		}
	}
}
