.product {
	div& > .div {
		background-color: var(--general-tile);
		@extend %alignfull;
		padding: 96px 15px 72px;
		margin-bottom: 48px;

		> * {
			@extend %colmd;
		}

		> .div {
			position: relative;
		}
	}

	.woocommerce-Tabs-panel {
		> h2 {
			&:first-child {
				display: hidden;
			}
		}
	}
}

.woocommerce-product-attributes {
	&-item {
		p {
			margin-bottom: 0;
		}

		td,
		th {
			border-bottom-width: 0;
		}
	}
}

.price {
	del {
		font-size: 87.5%;
		opacity: 0.7;
	}
}
