.woocommerce-account {
	.order-again {
		margin-top: 10px;
	}
}

.woocommerce-orders-table {
	&__cell-order {
		&-actions {
			&::before {
				display: none ?if media (--screen-md);
			}
		}

		&-number {
			a {
				@extend %link-none;
				font-weight: 500;
			}
		}

		&-status {
			color: var(--alert-warning);
		}
	}

	@each $status, $color in (completed, cancelled, refunded, failed), (--alert-success, --alert-danger, --alert-danger, --alert-danger) {
		&__row--status-$(status) {
			^&__cell-order-status {
				color: var($(color));
			}
		}
	}
}