.wc-block-grid {
	&__products {
		display: grid;
		column-gap: 30px;
		row-gap: 36px;
		margin: 0;

		^&.has-2-columns & {
			grid-template-columns: repeat(2, 1fr) ?if media (--screen-xs-min);
		}
		^&.has-3-columns & {
			grid-template-columns: repeat(3, 1fr) ?if media (--screen-md-min);
			grid-template-columns: repeat(2, 1fr) ?if media (--screen-md) and (--screen-xs-min);
		}
		^&.has-4-columns & {
			grid-template-columns: repeat(4, 1fr) ?if media (--screen-md-min);
			grid-template-columns: repeat(2, 1fr) ?if media (--screen-md) and (--screen-xs-min);
		}
		^&.has-5-columns & {
			grid-template-columns: repeat(5, 1fr) ?if media (--screen-lg-min);
			grid-template-columns: repeat(3, 1fr) ?if media (--screen-lg) and (--screen-md-min);
			grid-template-columns: repeat(2, 1fr) ?if media (--screen-md) and (--screen-xs-min);
		}
		^&.has-6-columns & {
			grid-template-columns: repeat(6, 1fr) ?if media (--screen-lg-min);
			grid-template-columns: repeat(3, 1fr) ?if media (--screen-lg) and (--screen-md-min);
			grid-template-columns: repeat(2, 1fr) ?if media (--screen-md) and (--screen-xs-min);
		}

		^&__product {
			> *:last-child {
				margin-bottom: 0;
			}

			&-onsale {
				color: var(--alert-danger);
				text-transform: none;
				font-weight: 400;
				border-width: 0;
				line-height: var(--headings-line-height);
				@extend %flashes;
			}
		}

		^& & ^&__product {
			border-width: 0;
			max-width: 100%;
		}

		^&__product-title {
			font-size: var(--general-normal);
			font-weight: 400;
			margin-bottom: 0;
			color: var(--general-entry-alt);
		    line-height: inherit;
		}

		^&__product-link {
			@mixin link;
		}

		^&__product-rating {
			position: absolute 22px 20px null null;
		    width: auto;

			&:before {
				content: none;
			}

			> * {
				line-height: 1;
				size: 64.5px 12px;
				font-size: 12px;
				letter-spacing: 1px;
			    margin: 0;
			    font-family: dashicons;

				&::before {
					content: "\f154\f154\f154\f154\f154";
					color: inherit;
					opacity: 1;
				}

				> span {
					padding-top: 16px;

					&::before {
						content: "\f155\f155\f155\f155\f155";
						color: inherit;
					}
				}

				.rating {
					&::before {
						display: none;
					}
				}
			}
		}

		^&__product-add-to-cart {
			.wp-block-button {
				margin-bottom: 0;

				&__link {
					@extend %small-input;
					text-decoration: none;

					&.loading {
						color: transparent;
						opacity: 1;

						&::before {
							animation-duration: 0.8s;
							animation-timing-function: ease;
							animation-name: checkmark;
							size: 8px 18px;
							border-style: solid;
							border-color: var(--general-background);
							transform: scaleX(-1) rotate(135deg);
							transform-origin: left top;
							border-width: 2px 2px 0 0;
							border-radius: 1.5px;
							content: "";
							position: absolute 50% null null calc(50% - 10px);
						}
					}

					&::after {
						display: none;
					}
				}
			}
		}
	}
}
