.widget_rss {
	.widget-title {
		display: flex;
	}

	ul {
		line-height: var(--line-height-base);
	}

	li {
	    padding-bottom: 16px;
	}
}

.rss-widget-icon {
	margin-right: 5px;
}

.rss-date {
	font-size: calc(var(--general-normal) * 0.75);
	display: block;
    padding-bottom: 4px;
}