.wp-block-table {
	margin-bottom: var(--line-height-computed);
	overflow-x: auto;

	figcaption {
		@extend %caption;
	}

	&.is-style-stripes {
		tbody {
			tr:nth-of-type(odd) {
				background-color: var(--general-tile);
			}
		}
	}
}
