.wp-block-table {
	margin-bottom: var(--line-height-computed);
	overflow-x: auto;

	figcaption {

		@mixin caption;
	}

	&.is-style-stripes {

		tbody {

			tr:nth-of-type(odd) {
				background-color: var(--general-tile);
			}
		}
	}
}
