.wp-block-rss {
	padding-left: 0;
	margin-bottom: 0;

	&:not(.is-grid) {
		box: vertical;

		& > li {
			border-bottom: 1px solid var(--general-border);
			padding-bottom: 42px;

			&:nth-child(n+2) {
				padding-top: 24px;
				margin-top: 24px;
			}
		}
	}

	&.is-grid {

		^&__item-excerpt {
			font-size: var(--general-small);
		}
	}

	> li {
		list-style: none;
	}

	&__item-title {

		> a {

			@mixin link var(--general-entry-alt);
			font-size: calc(var(--general-normal) * 1.125);
		}
	}

	@each $item in publish-date, author {
		&__item-$(item) {
			font-size: var(--general-small);
			color: var(--general-entry-alt);
		}
	}
}
