.woocommerce-shipping {

	&-methods {
		padding-left: 0;
		margin-bottom: 12px;

		li {
			list-style: none;
		}

		[type="hidden"] {

			+ label {
				padding-left: 0;
			}
		}
	}

	&-destination {
		margin-bottom: 10px;

		strong {
			font-weight: 500;
		}
	}
}

.shipping-calculator {

	&-button {

		@mixin link;
		@extend %meta-item;

		&::before {

			@mixin icon "\f327";
		}
	}

	&-form {
		margin-top: 12px;
	}
}
