@import "./../../../woocommerce/blocks/active-filters";

.wc-block-active-filters {
	.editor-styles-wrapper .block-editor-writing-flow &__list {
		padding-left: 0;
		margin: 0 0 4px;
	}

	& &__clear-all {
		text-transform: uppercase;
		border-radius: var(--border-radius-base);
	}
}

.editor-styles-wrapper .block-editor-writing-flow {
	[data-type="woocommerce/active-filters"] {
		> div {
			> *:nth-last-child(2) {
				@extend %small-title;
			}
		}
	}
}
