.site-handheld-toolbar {
	position: sticky;
	bottom: 0;
	background-color: var(--general-tile);

	ul {
		display: flex;
		align-items: center;
		padding-left: 0;
		margin-bottom: 0;
	}

	li {
		list-style: none;
	}

	.columns-3 {
		li {
			width: 33.333%;
			display: flex;
			justify-content: center;
		}
	}

	a {
		text-decoration: none;
	}

	&__search {
		.site-search {
			width: 100%;
		}

		a {
			font-size: 0;
			color: var(--general-text);

			&:hover {
				color: var(--general-text-alt);
			}

			&::before {
				content: "\e8b6";
				font-family: "Material Icons";
				font-size: calc(var(--general-normal) *1.5);
			}
		}

		form {
			display: flex;
		}

		[type="submit"] {
			margin: 0;
		}
	}
}
