@define-mixin colfull $width: 1170px, $padding: 15px {
	max-width: $(width);
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: $(padding);
	padding-right: $(padding);
}

@define-mixin icon $name {
	content: $(name);
	font-family: dashicons;
}

@define-mixin link $hover: inherit, $color: inherit {
	color: $(color);
	text-decoration: none;

	:--active {
		color: $(hover);
	}
}

@define-mixin shift $transition, $delay: 0.3s {
	transition: $(transition) $(delay);
}

@define-mixin button-color $color: var(--general-entry), $background: var(--general-background), $border: var(--general-border), $active-color: var(--general-entry), $active-background: var(--general-border) {
	color: $(color);
	background-color: $(background);
	border: 2px solid $(border);

	:--active {
		color: $(active-color);
		background-color: $(active-background);
	}
}
