li.product {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 50%);
	align-content: baseline;
	line-height: var(--headings-line-height);

	> * {
		min-width: 0;
	}

	a {
		text-decoration: none;
	}

	.stock,
	.price {
		grid-column: 2;
		text-align: right;
	}

	.price {
		grid-row: 2;
	}

	.stock {
		grid-row: 3;
	}

	p {
		margin-bottom: 0;
	}

	.product-categories {
		grid-row: 3;

		a {

			@mixin link var(--general-entry), var(--general-entry-alt);
		}
	}
}

.woocommerce-loop-product {

	&__title {
		font-size: var(--general-normal);
		font-weight: 400;
		margin-bottom: 0;
		color: var(--general-entry-alt);
	}

	.product &__link {

		@mixin link;
	}
}
