li.product {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 50%);

	a {
		text-decoration: none;
	}

	.stock,
	.price {
		grid-column: 2;
		text-align: right;
	}

	.price {
		grid-row: 2;
	}

	.stock {
		grid-row: 3;
	}

	p {
		margin-bottom: 0;
		line-height: 1;
	}

	.product-categories {
		grid-row: 3;
		a {
			@mixin link var(--general-text), var(--general-text-alt);
		}
	}

	img {
		display: block;
		margin: 0 auto;
	}

	&:hover {
		img {
			opacity: 0.5;
		}
	}
}

.woocommerce-loop-product {
	&__title {
		font-size: var(--general-normal);
		font-weight: 400;
		margin-bottom: 0;
		color: var(--general-text-alt);
	}

	.product &__link {
		@mixin link;

		&:first-child {
			grid-column: 1/-1;
			grid-row: 1;
			position: relative;
			margin-bottom: 25px;
		}
	}
}
