.entry-summary {
	.variations {
		margin-bottom: 18px;

		td,
		th {
			padding: 0;
			border-bottom-width: 0;
			display: block;
		}

		tr {
			margin: 8px;
			position: relative;
		}

		tbody {
			box: horizontal wrap center;
		}

		select {
			height: 36px;
		}

		&_button {
			box: horizontal wrap center;
		}
	}

	.reset_variations {
		position: absolute null null 0 calc(100% + 10px);
		overflow: hidden;
		size: 36px;
		@mixin link var(--alert-danger);
		border: 2px solid var(--general-border);
		border-radius: var(--border-radius-small);

		&::before {
			@mixin icon "\f335";
			font-size: 20px;
			display: block;
			line-height: 1;
			padding: 6px;
		}
	}
}
