.tagcloud {
	ul {
		box: wrap;

		@extend %none-list-style;
	}
}

.tag-cloud-link {
	border: 2px solid var(--general-border);
	border-radius: 24px;
	padding: 0.4px 12px;
	margin: 0 7px 8px 0;
	transition: color 0.3s, border-color 0.3s;
	box: center;

	&:hover {
		border-color: currentColor;
	}
}
