.wc-block-price-filter {
	font-size: var(--general-small);
	box: vertical;

	& &__range-input-wrapper {
		height: 3px;
		background: var(--general-tile);
		box-shadow: none;
		margin-bottom: 30px;

		^&__range-input {
			min-height: auto;
			z-index: 4;

			&-progress {
				height: 3px;
				--range-color: var(--general-entry);
			}

			&::range-thumb {
				border: 2px solid var(--general-background);
				border-radius: 16px;
				background: var(--general-entry);
				size: 16px;
				cursor: pointer;
			}
		}
	}

	&__controls {

		^&__button {

			@mixin small-input;
			@mixin button-color;
		}

		^&__amount {

			@mixin small-input;
		}

		^&__range-text {
			align-self: center;
		}
	}
}

.wp-block-woocommerce-price-filter {

	> *:nth-last-child(2) {

		@mixin small-title;
	}
}
