.wp-block-quote {
	&.is-style-large {
		border-left-width: 0;

		p {
			font-size: var(--general-medium);
		}

		cite {
			font-size: var(--general-small);
		}
	}

	&.has-text-align {
		&-right {
			&:not(.is-style-large) {
				border-width: 0 5px 0 0;
				padding: 12px 25px 12px 0;
			}

			cite {
				justify-content: flex-end;

				&::before {
					order: 2;
					margin: 0 0 0 9px;
				}
			}
		}

		&-center {
			border-width: 0;

			&:not(.is-style-large) {
				padding-left: 0;
			}

			cite {
				justify-content: center;
			}
		}
	}
}
