.wp-block-cover {
	position: relative;
	background-size: cover;
	background-position: center;
	min-height: 430px;
	box: center middle;
	padding: 16px;
	color: #fff;

	:--heading:not(.has-text-color) {
		color: inherit;
	}

	&__inner-container {
		z-index: 1;
	}

	&__gradient-background {
		position: absolute 0 0 0 0;

		.has-background-dim & {
			opacity: 0.5;
		}
	}

	@each $align in left, right {
		&.align$(align) {
			max-width: 290px;
			width: 100%;
		}
	}

	&.aligncenter {
		width: 100%;
	}

	video {
		position: absolute;
	    size: 100%;
	    z-index: 0;
	    object-fit: cover;
	    object-position: center;
	}
}

.has-background-dim {
	&::before {
		opacity: 0.5;

		:not(.has-background-gradient)& {
			content: "";
			background-color: inherit;
			position: absolute 0 0 0 0;
		    z-index: 1;
		}
	}

	@for $i from 10 to 100 by 10 {
		&-$i::before {
			opacity: calc($(i)/100);
		}
	}
}

@each $horizontal, $justify in (left, center, right), (flex-start, center, flex-end) {
	@each $vertical, $align in (top, center, bottom), (flex-start, center, flex-end) {
		.is-position-$(vertical)-$(horizontal) {
			align-items: $(align);
			justify-content: $(justify);
		}
	}
}
