@import "./search";
@import "./select2";
@import "./post-password";

label {
	display: block;
	font-size: calc(var(--general-normal) * 0.75);
	color: var(--general-entry);
	margin-bottom: 7px;
	padding-left: 18px;
	text-transform: uppercase;
	line-height: var(--line-height-base);
	font-weight: 400;

	&[for] {
		cursor: pointer;
	}
}

@each $form in input, textarea {
	$(form) {
		display: block;
		width: 100%;
		line-height: var(--line-height-base);
		font-size: var(--general-small);
		color: var(--general-entry);
		text-transform: none;
		border: 2px solid var(--general-border);
		border-radius: var(--border-radius-base);
		background-color: var(--general-background);
		appearance: none;
		font-family: inherit;
		@mixin shift border;

		&:focus {
			border-color: var(--general-primary);
			outline: none;
		}
	}
}

textarea {
	height: auto;
	padding: 13px 16px;
	resize: vertical;
}

input {
	min-height: 48px;
	padding: 0 16px;
	overflow: visible;
}

select {
	@extend %select;
	@extend %select-icon;
	@mixin shift border;
	cursor: pointer;
	width: 100%;

	&::-ms-expand {
		display: none;
	}
}

optgroup {
	margin-bottom: 24px;
}

[type="checkbox"] {
	border-radius: 1px;
	&::before {
		position: absolute -2.3px null null -3px;
		display: block;
		font-size: 16px;
		@mixin icon "\f147";
		color: var(--general-background);
		line-height: 1;
	}

	&:checked {
		border-color: var(--general-primary);
		background-color: var(--general-primary);
	}
}

[type="radio"] {
	border-radius: 50%;
	&:checked {
		border-width: 4px;
		border-color: var(--general-primary);
	}
}

[type="checkbox"],
[type="radio"] {
	position: absolute;
	min-height: 15px;
	width: 15px;
	min-width: 15px;
	vertical-align: middle;
	margin: 5px 0 0 2px;
	border: 2px solid var(--general-border);
	background-clip: padding-box;
	cursor: pointer;
	padding: 0;

	+ label {
		display: inline-block;
		margin: 0 0 0 9px;
	}

	&:focus:not(:checked) {
		border-color: var(--general-border);
	}
}

body [disabled],
body .disabled {
	opacity: 0.88;
	cursor: not-allowed;
}

fieldset {
	border-color: var(--general-border);
	border-radius: var(--border-radius-base);
}

legend {
	margin-bottom: 10px;
}
