label {
	display: block;
	font-size: calc(var(--general-normal) * 0.75);
	color: var(--general-text);
	margin-bottom: 7px;
	padding-left: 18px;
	text-transform: uppercase;

	&[for] {
		cursor: pointer;
	}
}

@each $field in input, select, button, textarea {
	$(field) {
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
	}
}

@each $form in input, select, textarea {
	$(form) {
		display: block;
		width: 100%;
		line-height: var(--line-height-base);
		font-size: var(--general-small);
		color: var(--general-text);
		text-transform: none;
		border: 2px solid var(--general-border);
		border-radius: var(--border-radius-base);
		background-color: var(--general-background);
		appearance: none;
		padding: 0 16px;
		@extend %border-shift;

		&:focus {
			border-color: var(--general-primary);
			outline: none;
		}
	}
}

input,
textarea {
	&::placeholder {
		color: var(--general-text);
		opacity: 1;
	}
}

textarea {
	height: auto;
	padding: 13px 16px;
	resize: vertical;
}

select,
input {
	height: 48px;
}

select {
	@extend %select-icon;
	cursor: pointer;

	&::-ms-expand {
		display: none;
	}

}

optgroup {
	margin-bottom: 24px;
}

[type="checkbox"] {
	border-radius: 1px;
	&::before {
		position: absolute;
		display: block;
		font-family: boxicons;
		content: "\ea0f";
		color: #fff;
		line-height: 1;
		top: -2px;
		left: -2px;
	}

	&:checked {
		border-color: var(--general-primary);
		background-color: var(--general-primary);
	}
}

[type="radio"] {
	border-radius: 50%;
	&:checked {
		border-width: 4px;
		border-color: var(--general-primary);
	}
}

[type="checkbox"],
[type="radio"] {
	position: absolute;
	width: 15px;
	height: 15px;
	vertical-align: middle;
	margin: 5px 0 0 2px;
	border: 2px solid var(--general-border);
	background-clip: padding-box;
	cursor: pointer;
	padding: 0;

	+ label {
		display: inline-block;
		margin: 0 0 0 9px;
	}

	&:focus:not(:checked) {
		border-color: var(--general-border);
	}
}

[disabled],
.disabled {
	opacity: 0.88;
	cursor: not-allowed;
}

button,
input {
	overflow: visible;
}

.select2 {
	&-container {
		display: block;

		&--default {
			^^&-selection {
				&--single {
					@extend %select-icon;
					border: 2px solid var(--general-border);
					height: 48px;
					display: flex;
					align-items: center;
					padding-left: 8px;

					.select2-selection__arrow {
						display: hidden;
					}
				}
			}

			.select2-results__option {
				&--highlighted {
					&[aria-selected] {
						color: var(--general-background);
						background-color: var(--general-primary);
					}
				}

				&[data-selected="true"][aria-selected="false"] {
					background-color: var(--general-tile);
				}
			}
		}
	}

	&-dropdown {
		border-color: var(--general-border);
		border-width: 2px;
	}

	&-search {
		&--dropdown {
			.select2-container--default & ^&__field {
				height: 38px;
				border: 2px solid var(--general-border);
			}
		}
	}
}
