label {
	display: block;
	font-size: calc(var(--general-normal) * 0.75);
	color: var(--general-text);
	margin-bottom: 7px;
	padding-left: 18px;
	text-transform: uppercase;
	line-height: var(--line-height-base);
	font-weight: 400;

	&[for] {
		cursor: pointer;
	}
}

@each $field in input, select, button, textarea {
	$(field) {
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
	}
}

@each $form in input, select, textarea {
	$(form) {
		display: block;
		width: 100%;
		line-height: var(--line-height-base);
		font-size: var(--general-small);
		color: var(--general-text);
		text-transform: none;
		border: 2px solid var(--general-border);
		border-radius: var(--border-radius-base);
		background-color: var(--general-background);
		appearance: none;
		@mixin shift border;

		&:focus {
			border-color: var(--general-primary);
			outline: none;
		}
	}
}

textarea {
	height: auto;
	padding: 13px 16px;
	resize: vertical;
}

input {
	min-height: 48px;
	padding: 0 16px;
}

select {
	height: 48px;
	padding-left: 16px;
	@extend %select-icon;
	cursor: pointer;

	&::-ms-expand {
		display: none;
	}

}

optgroup {
	margin-bottom: 24px;
}

[type="checkbox"] {
	border-radius: 1px;
	&::before {
		position: absolute -2px null null -2px;
		display: block;
		@mixin icon "\ea0f";
		color: var(--general-background);
		line-height: 1;
	}

	&:checked {
		border-color: var(--general-primary);
		background-color: var(--general-primary);
	}
}

[type="radio"] {
	border-radius: 50%;
	&:checked {
		border-width: 4px;
		border-color: var(--general-primary);
	}
}

[type="checkbox"],
[type="radio"] {
	position: absolute;
	min-height: 15px;
	width: 15px;
	min-width: 15px;
	vertical-align: middle;
	margin: 5px 0 0 2px;
	border: 2px solid var(--general-border);
	background-clip: padding-box;
	cursor: pointer;
	padding: 0;

	+ label {
		display: inline-block;
		margin: 0 0 0 9px;
	}

	&:focus:not(:checked) {
		border-color: var(--general-border);
	}
}

body [disabled],
body .disabled {
	opacity: 0.88;
	cursor: not-allowed;
}

button,
input {
	overflow: visible;
}

.select2 {
	&-container {
		min-height: 48px;
		display: block;
		font-size: var(--general-small);

		&--default {
			^^&-selection {
				&--single {
					@extend %select-icon;
					border: 2px solid var(--general-border);
					height: 48px;
					box: horizontal middle;
					padding-left: 8px;

					^^^^&-selection {
						&__arrow {
							display: hidden;
						}

						&__rendered {
							color: var(--general-text);
						}
					}
				}
			}

			^^&-results__option {
				&--highlighted {
					&[aria-selected] {
						color: var(--general-background);
						background-color: var(--general-primary);
					}
				}

				&[data-selected="true"][aria-selected="false"] {
					background-color: var(--general-tile);
				}
			}

			^^&-search--dropdown {
				^^^&-search__field {
					height: 38px;
					border: 2px solid var(--general-border);
				}
			}
		}
	}

	&-dropdown {
		border-color: var(--general-border);
		border-width: 2px;
	}
}

fieldset {
	border-color: var(--general-border);
	border-radius: var(--border-radius-base);
}

legend {
	margin-bottom: 10px;
}
