label {
	display: block;
	font-size: calc(var(--general-normal) * 0.75);
	color: var(--general-text);
	margin-bottom: 7px;
	padding-left: 18px;
	text-transform: uppercase;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

input,
select,
textarea {
	display: block;
	width: 100%;
	line-height: var(--line-height-base);
	font-size: var(--general-small);
	color: var(--general-text);
	text-transform: none;
	border: 2px solid var(--general-border);
	border-radius: var(--border-radius-base);
	background-color: var(--general-background);
	appearance: none;
	padding: 0 16px;
	@extend %border-shift;

	&:focus {
		border-color: var(--general-primary);
		outline: none;
	}

	&:placeholder {
		color: var(--general-text);
	}
}

textarea {
	height: auto;
	padding: 13px 16px;
	resize: vertical;
}

select,
input {
	height: 48px;
}

select {
	background-repeat: no-repeat;
	background-position: calc(100% - 7.25px) center;
	padding-right: 24px;
	cursor: pointer;

	&::-ms-expand {
		display: none;
	}

}

optgroup {
	margin-bottom: 24px;
}

[type="checkbox"] {
	border-radius: 1px;
	&::before {
		position: absolute;
		display: block;
		font-family: "Material Icons";
		content: "\e5ca";
		color: #fff;
		line-height: 1;
		top: -2px;
		left: -1px;
	}

	&:checked {
		border-color: var(--general-primary);
		background-color: var(--general-primary);
	}
}

[type="radio"] {
	border-radius: 50%;
	&:checked {
		border-width: 4px;
	}
}

[type="checkbox"],
[type="radio"] {
	position: absolute;
	width: 15px;
	height: 15px;
	vertical-align: middle;
	margin: 5px 0 0 2px;
	border: 2px solid var(--general-border);
	background-clip: padding-box;
	cursor: pointer;
	padding: 0;

	+ label {
		display: inline-block;
		margin: 0 0 0 9px;
	}
}

[disabled]
.disabled {
	opacity: 0.88;
	cursor: not-allowed;
}

button,
input {
	overflow: visible;
}
