%color-shift {
	transition: color 0.3s;
}

%opacity-shift {
	transition: opacity 0.3s;
}

%border-shift {
	transition: border 0.3s;
}

%caption {
	color: #555d66;
	font-size: 13px;
	text-align: center;
	padding-top: var(--table-cell-padding);
}

%none-list-style {
	list-style: none;
	padding: 0;
	margin: 0;
}
