%color-shift {
	transition: color 0.3s;
}

%color-background-shift {
	transition: color 0.3s ease-out, background-color 0.3s ease-out;
}

%opacity-shift {
	transition: opacity 0.3s;
}

%border-shift {
	transition: border 0.3s;
}

%caption {
	color: #555d66;
	font-size: 13px;
	text-align: center;
	padding-top: var(--table-cell-padding);
}

%none-list-style {
	list-style: none;
	padding: 0;
	margin: 0;
}

%alignfull {
	width: 100vw;
	position: relative;
	left: 50%;
	margin-left: -50vw;
}

%colfull {
	max-width: 1140px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
}

%meta-divider {
	&::after {
		content: "";
		display: inline-block;
		width: 1px;
		height: 11px;
		margin: 0 10px;
		background-color: var(--general-text-alt);
		opacity: 0.5;
	}
}
%meta-icon {
	display: flex;

	&::before {
		font-family: "Material Icons";
		margin-right: 3px;
	}
}
