.wp-block-file {
	box: center;

	& &__button {

		@mixin small-input;
		background-color: var(--general-primary);
		color: var(--general-background);
		border-radius: var(--border-radius-base);
		text-align: center;
		box: center middle;
		text-decoration: none;
		margin-left: 12px;

		@mixin shift background;

		&:hover {
			background-color: var(--general-primary-alt);
		}
	}
}
