.select2 {

	&-container {

		&&--default {
			min-height: 48px;
			display: block;
			font-size: var(--general-small);

			^^&-selection {

				&--single {

					@extend %select-icon;
					border: 2px solid var(--general-border);
					height: 48px;
					box: horizontal middle;
					padding-left: 8px;

					^^^^&-selection {

						&__arrow {
							display: hidden;
						}

						&__rendered {
							color: var(--general-entry);
						}

						&__clear {
							margin: 1px 3px 0;
						}
					}
				}

				&--multiple {
					border: 2px solid var(--general-border);

					^^^&--focus& {
						border: 2px solid var(--general-primary);
					}

					^^^^&-selection {

						&__rendered {
							min-height: 48px;
							box: center wrap;

							li {
								margin: 5px;
							}
						}
					}
				}
			}

			^^&-results__option {

				&--highlighted {

					&[aria-selected] {
						color: var(--general-background);
						background-color: var(--general-primary);
					}
				}

				&[data-selected="true"][aria-selected="false"] {
					background-color: var(--general-tile);
				}
			}

			^^&-search {

				&--dropdown {

					^^^^&-search__field {
						height: 38px;
						border: 2px solid var(--general-border);
					}
				}

				&--inline {

					^^^^&-search__field {
						min-height: auto;
					}
				}
			}
		}

		^&-dropdown {
			border-color: var(--general-border);
			border-width: 2px;
		}
	}
}
