.wp-block-button {
	max-width: 100%;

	&s {
		box: wrap;
		margin: 0 -5px;

		^& {
			margin: 5px;
		}

		&.aligncenter {
			justify-content: center;
		}

		&.alignright {
			justify-content: flex-end;
		}

		&.alignleft {
			justify-content: flex-start;
		}
	}

	&.aligncenter {
		text-align: center;
	}

	&__link {
		min-height: var(--btn-height);
		font-size: var(--general-small);
		border-radius: var(--border-radius-base);
		padding: 10px 22px;
		text-transform: uppercase;
		text-decoration: none;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		cursor: pointer;
		@extend %button-shift;

		&.no-border-radius {
			border-radius: 0;
		}

		.is-style-outline & {
			border: 2px solid;
		}

		^&:not(.is-style-outline) & {
			&:not(.has-background) {
				background-color: var(--general-primary);

				:--active {
					background-color: var(--general-primary-alt);
				}
			}

			&:not(.has-text-color) {
				color: var(--general-background);

				:--active {
					color: var(--general-background);
				}
			}
		}
	}
}
