.price_slider {
	height: 3px;
	background-color: var(--general-tile);
	position: relative;
	box: center;

	.ui-slider-range {
		background-color: var(--general-entry);
		height: 3px;
		position: absolute;
	}

	.ui-slider-handle {

		@mixin filter-range-thumb;
		position: absolute;

		&:last-child {
			margin-left: -16px;
		}
	}

	&_amount {
		box: space-between center;
		margin-top: 30px;

		[type="text"],
		.clear {
			display: none;
		}

		.button {

			@mixin button-color;
			@mixin small-input;
		}

		.price_label {
			padding-left: 15px;
		}
	}
}
