.wc-block-attribute-filter {

	& &__button {

		@extend %small-input;
		@mixin button-color;
		margin-top: 21px;
	}

	&-list {

		li {
			line-height: var(--line-height-base);
		}

		&-count {
			margin-left: 3px;
		}

		label {
			text-transform: none;
			font-size: var(--general-small);
		}
	}

	.wc-block-components-dropdown-selector {
		margin-bottom: 10px;
	}
}

.wp-block-woocommerce-attribute-filter {

	> *:nth-last-child(2) {

		@extend %small-title;
	}
}
