.woocommerce {

	@each $filter in result-count, ordering {
		&-$(filter) {
			font-size: var(--general-small);

			@media (--screen-smartphone-min) {
				width: calc(50% - 3px);
				display: inline-flex;
				margin-bottom: 36px;
			}
		}
	}

	&-ordering {
		justify-content: flex-end ?if media (--screen-smartphone-min);
		margin-bottom: 36px ?if media (--screen-smartphone);

		select {
			width: auto;
			min-width: 50%;
		}
	}

	&-result-count {
		margin-bottom: 15px ?if media (--screen-smartphone);
	}
}
