.woocommerce {
	@each $filter in result-count, ordering {
		&-$(filter) {
			width: calc(50% - 3px);
			display: inline-flex;
			font-size: var(--general-small);
			margin-bottom: 36px;
		}
	}

	&-ordering {
		justify-content: flex-end;

		select {
			width: auto;
    		min-width: 50%;
		}
	}
}