.widget-area {
	.widget {
		padding-bottom: 28px;
		border-bottom: 2px solid var(--general-border);

		&:first-child {
			padding-top: 15px;
		}

		&:nth-child(n+2) {
			padding-top: 28px;
		}

		&:last-child {
			border-bottom-width: 0;
		}
	}

	@media (--screen-md) {
		position: fixed 0 -300px null null;
		size: 300px 100%;
		z-index: 55;
		padding: 30px 24px;
		background-color: var(--general-background);
		overflow-y: auto;
		overflow-x: hidden;
		transition-property: right, box-shadow;
		transition-delay: 0.3s;
		transition-duration: 0.4s, 0.3s;
		transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);

		.admin-bar & {
			top: 32px;
		}

		.has-sidebar--open & {
			right: 0;
			box-shadow: 0 0 50px 3px rgba(0, 0, 0, 0.15);
		}

		.has-sidebar--before & {
			right: auto;
			left: -300px;
			transition-property: left, box-shadow;

			.has-sidebar--open& {
				right: auto;
				left: 0;
			}
		}
	}

	&__close {
		display: none ?if media (--screen-md-min);
		position: absolute 8px 15px null null;

		&::before {
			font-size: 24px;
			color: var(--general-entry);
		}
	}
}
