.widget-area {
	font-size: var(--general-small);

	a:not(.button) {
		@mixin link var(--general-text), var(--general-text-alt);
	}

	.widget {
		padding-bottom: 28px;
		border-bottom: 2px solid var(--general-border);

		&:first-child {
			padding-top: 15px;
		}

		&:nth-child(n+2) {
			padding-top: 28px;
		}

		&:last-child {
			border-bottom-width: 0;
		}
	}
}