@import "./stripe";
@import "./paypal";

ul.payment_methods {
	@extend %none-list-style;
	color: var(--general-entry-alt);
	font-size: var(--general-small);

	> li {
		margin-bottom: 4px;

		&:only-child {
			label {
				padding-left: 0;
				margin-left: 0;
			}

			.payment_box {
				padding-left: 0;
			}

			> .input-radio:first-child {
				display: invisible;
			}
		}

		&:last-child .payment_box {
			padding-bottom: 0;
		}

		> label {
			box: wrap;
			padding-top: 2.5px;
		}
	}

	p {
		line-height: var(--line-height-base);
		font-size: calc(var(--general-normal) * 0.75);
		margin-bottom: 0;
	}

	.payment_box {
		padding: 4px 0 20px 10px;
	}

	fieldset {
		margin-top: 5px;
		padding: 0;
		border-width: 0;

		label {
			display: hidden;
		}

		br {
			content: "";
		}
	}

	.form-row {
		&-last,
		&-first {
			width: calc(50% - 5px);
		}
		&-first {
			margin-right: 10px;
		}
	}
}

.woocommerce-SavedPaymentMethods-saveNew {
	label {
		display: flex !important;
	}
}

.wc-saved-payment-methods {
	padding-left: 0;
}

.wc-payment-form {
	[role="alert"] {
		ul {
			margin-bottom: 0;
		}
	}
}

.payment-method {
	&-actions {
		text-align: right;
	}
}

.woocommerce-Payment {
	.button {
		margin-top: 11px;
	}
}
