.wc-block-product-categories {
	font-size: var(--general-small);

	a {

		@mixin link var(--general-entry), var(--general-entry-alt);
	}

	&-list {

		&:not(&--has-images) {

			@extend %widget-list;
		}

		&--has-images {
			padding-left: 0;

			^&-item:nth-child(n+2) {
				padding-top: 11px;
			}

			ul {
				padding-top: 8px;
			}
		}
	}

	&__button {
		padding: 10px;
		width: 48px;
		margin-left: 5px;

		&:focus:enabled,
		&:not(:disabled):not([aria-disabled="true"]):active,
		&:not(:disabled):not([aria-disabled="true"]):hover {
			box-shadow: none;
			background-color: var(--general-primary-alt);
			color: var(--general-background);
		}
	}
}
