@import "./cart";
@import "./my-account";

.site-header {
	> .div {
		padding: 10px 0;
		box: horizontal center right;
		margin-left: 20px ?if media (--screen-lg-min);
		margin-left: 15px ?if media (--screen-lg) and (--screen-sm-min);
		width: 200px ?if media (--screen-lg-min);
		display: none ?if media (--screen-sm);
	}
}

@each $item in  myaccount, cart-contents {
	.site-$(item) {
		color: var(--general-entry);

		&::before {
			font-family: boxicons;
			font-size: calc(var(--general-normal) * 1.25);
		}

		:--active {
			color: var(--general-entry-alt);
		}
	}
}
