.site-header {
	.div {
		padding: 10px 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-left: 20px;
		width: 200px;
	}

	&__cart {
		position: relative;

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			list-style: none;
		}

		> ul {
			> li {
				&:last-child {
					display: none;
					position: absolute;
					width: 270px;
					right: 0;
					top: calc(100% + 12px);
					margin: -14px 0 0;
					padding: 25px 20px;
					text-align: left;
					background-color: var(--general-background);
					border: 1px solid var(--general-border);
					cursor: default;
				}
			}

			&:hover {
				> li:last-child {
					display: block;
					animation: slideUp 0.4s;
				}
			}
		}
	}
}
.site-myaccount {
	font-size: 0;
	padding: 10px 20px 5px;
	color: var(--general-text);
	@extend %color-shift;

	&::before {
		content: "\e7fd";
		font-family: "Material Icons";
		right: 0;
		font-size: calc(var(--general-normal) * 1.5);
	}

	&:hover {
		color: var(--general-text-alt);
	}
}

.site-cart-contents {
	display: flex;
	padding: 10px 0 5px 18px;
	color: var(--general-text);
	@extend %color-shift;

	&::before {
		content: "\e8cb";
		font-family: "Material Icons";
		font-size: calc(var(--general-normal) * 1.5);
		margin-top: -3px;
	}

	&:hover {
		color: var(--general-text-alt);
	}

	.woocommerce-Price-amount {
		display: hidden;
	}

	&__count {
		display: block;
		width: 16px;
		height: 16px;
		margin-top: 2px;
		line-height: 16px;
		font-size: calc(var(--general-normal) * 0.75);
		color: var(--general-background);
		text-align: center;
		border-radius: 50%;
		background-color: var(--general-primary);
	}
}
