@import "./cart/style.css";
@import "./my-account/style.css";

.site-header {
	.div {
		padding: 10px 0;
		box: horizontal center right;
		margin-left: 20px;
		width: 200px;
	}
}

@each $item in  myaccount, cart-contents {
	.site-$(item) {
		color: var(--general-text);

		&::before {
			font-family: boxicons;
			font-size: calc(var(--general-normal) * 1.25);
		}

		:--active {
			color: var(--general-text-alt);
		}
	}
}
