.widget-area-toggle {
	display: none ?if media (--screen-md-min);

	@media (--screen-md) {
		position: fixed 50% 0 null null;
		z-index: 9;
		size: 48px;
		line-height: 48px;
		font-size: 26px;
		text-align: center;
		@mixin link;
		background-color: var(--general-background);
		box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
		@mixin shift right;

		.has-sidebar--open & {
			right: -48px;
			box-shadow: none;
		}

		.has-sidebar--before & {
			right: auto;
			left: 0;
			transition-property: left;

			.has-sidebar--open& {
				right: auto;
				left: -48px;
			}
		}
	}
}
