.widget-area-toggle {
	display: none ?if media (--screen-md-min);

	@media (--screen-md) {
		position: fixed 50% 0 null null;
		z-index: 9;
		size: 48px;
		color: inherit;
		background-color: var(--general-background);
		box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
		@mixin shift right;

		span {
    		size: 21px 10px;
    		overflow: hidden;
    		padding-top: 10px;
    		display: block;
    		margin: 18px 13.5px;
    		border-top: 2px solid currentColor;
    		position: relative;

			&:after,
    		&:before {
				content: '';
				border-top: 2px solid currentColor;
				position: absolute;
				height: 2px;
    		}

    		&:after {
    			width: 7px;
			    top: 8px;
			    left: 6.5px;
    		}

    		&:before {
				width: 15px;
			    top: 3px;
			    left: 3px;
    		}
		}

		.has-sidebar--open & {
			right: -48px;
			box-shadow: none;
		}

		.has-sidebar--before & {
			right: auto;
			left: 0;
			transition-property: left;

			.has-sidebar--open& {
				right: auto;
				left: -48px;
			}
		}
	}
}
