.editor-styles-wrapper {

	.block-editor-writing-flow {
		font-size: var(--general-normal);
		font-family: var(--general-font);
		font-weight: 400;
		line-height: var(--line-height-base);
		color: var(--general-entry);

		:--heading {
			margin-top: 0;
			color: var(--general-entry);
			line-height: var(--headings-line-height);
		}

		.editor-post-title__input,
		h1 {
			font-size: calc(var(--general-normal) * 2.5);
			font-weight: 300;
		}

		h1 {
			margin-bottom: calc(var(--line-height-computed) * 1.2);
		}

		h2 {
			margin-bottom: var(--line-height-computed);
			font-size: calc(var(--general-normal) * 1.875);
			font-weight: 300;
		}

		h3 {
			margin-bottom: calc(var(--line-height-computed) * 1.2);
			font-size: var(--general-large);
			font-weight: 300;
		}

		h4 {
			margin-bottom: calc(var(--line-height-computed) * 1.4);
			font-size: calc(var(--general-normal) * 1.375);
			font-weight: 400;
		}

		h5 {
			margin-bottom: calc(var(--line-height-computed) * 2);
			font-size: calc(var(--general-normal) * 1.125);
			font-weight: 400;
		}

		h6 {
			font-size: var(--general-normal);
			margin-bottom: calc(var(--line-height-computed) * 2);
			font-weight: 500;
		}

		p {
			margin-bottom: var(--line-height-computed);
			margin-top: 0;
		}
	}

	a {
		color: var(--general-primary);
		text-decoration: underline;

		@mixin shift color;

		:--active {
			text-decoration: none;
		}
	}

	.has-text-color {

		a {
			color: inherit;
		}
	}

	ins {
		text-decoration: none;
	}
}
